@import "../nedbank-design.scss";

$medium-smartphone : 375px;

label {
  position: relative;
  color: $medium-grey;
  font-family: $text-regular;
  font-size: 0.875rem;
  font-weight: 200;
  display: block;
  margin-bottom: 5px;
  max-width: 390px;
  width: 100%;
}

.myDpCalTable {
  overflow: hidden !important;
  thead {
    margin-bottom: 20px;
  }
  tbody {
    tr {
      border-bottom: 2px solid $white;
      border-top: 2px solid $white;

      &:last-child {
        display: none;
      }
    }
  }
}

.myDpWeekDayTitle {
  max-width: 37px !important;
  color: $light-grey-disabled !important;
}

.ng-mydp table th {
  width: 37px !important;
}

.myDpYearTable {
  border-collapse: inherit !important;
  border-spacing: 8px !important;
  height: calc(100% - 50px) !important;
  overflow: scroll !important;
  
  @media screen and (max-width: $medium-smartphone) {
    margin-left: -25px !important;
    width: 121% !important;
  }	
}

.myDpMonthTable {
  border-collapse: inherit !important;
  border-spacing: 8px !important;
  height: calc(100% - 50px) !important;
  
  @media screen and (max-width: $medium-smartphone) {
    margin-left: -25px !important;
    width: 121% !important;
  }	
  
}

.input-box {
  order: 2;
  width: 390px;
  max-width: 390px;
  min-width: 310px;
  height: 3.25rem;
  font-size: 1rem;
  font-weight: 100;
  padding: 0 10px;
  color: $dark-grey;
  border: 2px solid $light-grey;
  transition: border-color 0.25s;
  
  @media screen and (max-width: $medium-smartphone) {
    width: 100%;
  }	  

  &:focus {
    border: 2px solid $primary;
    outline: none;
  }

  &.focus {
    border: 2px solid $primary !important;
    outline: none;
  }
}

.myDpSelector {
  border: 2px solid $light-grey !important;
  border-top: 0 !important;
  border-radius: 0 !important;
  height: 330px !important;
  width: 390px !important;
  top: 71px !important;
  left: 0px !important;
  font-family: $text-regular !important;
  
  @media screen and (max-width: $medium-smartphone) {
    width: 100% !important;
  }	  

  &:focus {
    box-shadow: none !important;
    outline: 0;
    border: 2px solid $primary !important;
    border-top: none !important;
  }

  &.focus {
    border: 2px solid $primary !important;
    border-top: none !important;
    outline: none;
  }

  &:before {
    display: none;
  }
  &:after {
    display: none;
  }
}

.myDpPrevMonth {
  color: $light-grey-disabled !important;
}

.myDpNextMonth {
  color: $light-grey-disabled !important;
}

.ng-mydp * {
  font-family: $text-medium !important;
}

.myDpSelectorArrow {
  background: $white !important;
  padding: 10px 30px 20px !important;
}

.myDpIcon {
  font-family: "nlsg-icons" !important;
  font-size: 24px !important;
  color: $dark-grey !important;
  float: right !important;
  margin-top: 3px !important;
  transition: transform 0.25s !important;

  &:focus {
    color: $tertiary !important;
  }

  &.myDpIconRightArrow {
    &:before {
      @extend .nlsg-icon-arrow-right;
    }
  }

  &.myDpIconLeftArrow {
    &:before {
      @extend .nlsg-icon-arrow-left;
    }
  }
}

.monthYearSelBar {
  margin-bottom: 30px!important;
}

.myDpCalTable {
  height: 190px !important;
  width: 92% !important;
  margin-left: 12px !important;
  
  @media screen and (max-width: $medium-smartphone) {
    margin-left: -20px !important;
    width: 118% !important;
  }	 

}

.myDpDaycell {
  width: 42px;
  height: 42PX;
  background: transparent !important;
    span {
      &:hover{
        background: $very-light-grey;
        color: $white;
        border-radius: 50%;
        width: 42px;
        height: 40PX;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &.myDpRangeColor {
      background-color: $tertiary-light-20 !important;
     
    }

    &.myDpSelectedDay {
      width: 42px;
      height: 40PX;
        span {
          background: $tertiary !important;
          background: $light-grey;
          color: $white;
          border-radius: 50%;
          width: 42px;
          height: 40PX;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 2px solid $tertiary-light-20 !important;
        } 
    }
    &.myDpRangeColor.myDpSelectedDay {
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%; 
    }
}

.start-of-range {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important; 
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
  span {
    // margin-right: 5px !important;
  }
}

.start-of-calender {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important; 
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
  span {
    // margin-right: 5px !important;
  }
}

.end-of-calender {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important; 
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
  span {
    // margin-left: 5px !important;
  }
}

.end-of-range {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important; 
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
  span {
    // margin-left: 5px !important;
  }
}

.start-of-range {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important; 
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
  span {
    // margin-right: 5px !important;
  }
}

.edge-forward-none {
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important; 
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
}

.myDpHeaderBtn:focus, .myDpMonthLabel:focus, .myDpYearLabel:focus {
  color: $tertiary !important;
}

.myDpDaycell:focus {
  box-shadow: none !important;
  outline: none;
  span {
    background: $very-light-grey;
    color: $white;
    border-radius: 50%;
    width: 42px;
    height: 40PX;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.myDpYearcell {
  background-color: $almost-white !important; 
  width: 20% !important;
  border-radius: 4px !important;

  &.myDpSelectedYear {
    background-color: $tertiary !important;
    color: $white !important;
  }

  &:focus {
    background-color: $light-grey !important; 
    outline: none !important;
    box-shadow: none !important;
  }

  &:hover {
    background-color: $tertiary !important; 
    color: $white !important;
  }
}

.myDpMonthcell {
  background-color: $almost-white !important; 
  width: 20% !important;
  border-radius: 4px !important;

  &.myDpSelectedMonth {
    background-color: $tertiary !important;
    color: $white !important;
  }

  &:focus {
    background-color: $light-grey !important; 
    outline: none !important;
    box-shadow: none !important;
  }

  &:hover {
    background-color: $tertiary !important; 
    color: $white !important;
  }
}

.myDpMarkCurrDay {
  background: transparent !important;
  color: $dark-grey;
  border-radius: 50%;
  border: 1px solid $light-grey;
  width: 42px;
  height: 40PX;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid $light-grey !important;
  
  @media screen and (max-width: $medium-smartphone) {
    position: relative;
    z-index: 200000;
  }	

    

  &:hover {
    background: $very-light-grey !important;
  }

  &:focus {
    background: $very-light-grey;
  }
}

.myDpMarkCurrMonth, .myDpMarkCurrYear {
  border-bottom: none !important;
}

.monthYearSelBar {
  padding: 0 10px !important;
}

.myDpMonthYearText {

  button {
    font-family: $text-medium !important;
    color: $medium-grey !important;
    font-size: 16px !important;
  }
  
}

.vaild {
  border: 2px solid $tertiary;
}

.myDpDisabled {
  cursor: not-allowed !important;
  span {
    background-color: transparent !important;
    color: #33333357 !important;
    border-radius: 50%;
    width: 42px;
    height: 40PX;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      color: #33333357 !important;
    }
  }
}

.nlsg-c-datepicker {
  position: relative;
  width: 390px;
  margin-bottom: 30px;
  @include component-default-margin;

  @media screen and (max-width: $medium-smartphone) {
    width: 100%;
  }	    

  .calender-icon {
    position: absolute;
    background: transparent;
    border: none;
    display: block;
    left: 349px;
    top: 10px;
    color: $light-grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    width: 34px;
    
    @media screen and (max-width: $medium-smartphone) {
      left: 268px;
    }	

    &:focus {
      background: $very-light-grey;
      border-radius: 50% !important;
      outline: none;
    }

    .nlsg-icon--size-24 {
      height: 21px;
      font-size: 24px;
    }
  }

  .has-label {
    top: 32px; 
  }
}

