<div class="nlsg-c-datepicker"  
[ngClass]="{
    'margin-bottom-sm': marginBottomSm,
    'margin-bottom-md': marginBottomMd,
    'margin-bottom-lg': marginBottomLg,
    'margin-bottom-none': marginBottomNone
}">
    <ui-form-label
    [labelText]="labelText" 
    [disabled]="disabled" 
    [notValid]="notValid" 
    [tooltipText]="tooltipText" [tooltipHeadingText]="tooltipHeadingText"
    [hasHeading]="hasHeading" [hideTooltip]="hideTooltip"
    *ngIf="hasLabel" 
></ui-form-label>

    <input 
    class="input-box" 
    placeholder="{{ placeholder }}" 
    attr.aria-label="{{ arialabel }}. {{ helperText }}"
    angular-mydatepicker name="mydate"  
    [(ngModel)]="model"
    [options]="myDpOptions" 
    #dp="angular-mydatepicker"

    (rangeDateSelection)="onRangeDateSelection($event)"
    (calendarToggle)="onCalendarToggle($event)"  
    (calendarViewChanged)="onCalendarViewChanged($event)" 
    (inputFieldChanged)="onInputFieldChanged($event)"/>

    <button type="button" aria-expanded="false"  class="calender-icon" [ngClass]="{'has-label': hasLabel}" 
        (click)="dp.toggleCalendar()">
        <i class="nlsg-icon nlsg-icon--size-24 nlsg-icon-calender"></i>
    </button>
    <ui-form-helper-text *ngIf="hashelperText" [helperText]="helperText" [disabled]="disabled" [notValid]="notValid" ></ui-form-helper-text>
</div>
