<div class="nlsg-search-select" 
    [ngClass]="{
        'valid': isValid,
        'inValid': notValid,
        'disabled': disabled,
        'margin-bottom-sm': marginBottomSm,
        'margin-bottom-md': marginBottomMd,
        'margin-bottom-lg': marginBottomLg,
        'margin-bottom-none': marginBottomNone
    }"
    >
    <ui-form-label
        *ngIf="hasLabel" 
        [labelText]="labelText" 
        [disabled]="disabled" 
        [notValid]="notValid" 
        [tooltipText]="tooltipText" [tooltipHeadingText]="tooltipHeadingText"
        [hasHeading]="hasHeading" [hideTooltip]="hideTooltip"
    ></ui-form-label>

    <div class="select" 
         (click)="openClose()"
         aria-haspopup="listbox" 
         [ngClass]="{
            'open': !this.closed,
            'close': this.closed
            }">
        <input 
            [(ngModel)]="searchSelectTerm" 
            type="text" 
            value="{{ selected.selectOption }}"
            placeholder="{{ selectPlaceholder }}" 
            tabindex="0" 
            (keydown)="keyDown($event); keyDownTab($event)" 
            (keyup)="keyUpTab($event)" 
            class="searchSelectField" 
            (blur)="blurFunction()" 
            #searchSelectField
        />
        <span class="search-select-icon nlsg-icon-search nlsg-icon--size-32" *ngIf="!searchSelectTerm"></span>
        <span class="search-select-icon nlsg-icon-close nlsg-icon--size-32" *ngIf="searchSelectTerm" (click)="clearicon()"></span>
    </div>
    <ui-form-helper-text *ngIf="hashelperText" [helperText]="helperText" [disabled]="disabled" [notValid]="notValid" ></ui-form-helper-text>

    <ul role="listbox" class="options" [ngClass]="{'open': !this.closed, 'no-label': !hasLabel}" #optionsContainer>
        <li role="option" class="option" *ngFor="let option of options | searchSelect:searchSelectTerm; let i = index" (click)="select(option)" [class.hovered]="i == arrowkeyLocation" #option+i [innerHTML]="option.selectOption | highlight:searchSelectTerm">
        </li>
    </ul>
    <div class="noResultsFound" *ngIf="(options | searchSelect: searchSelectTerm).length === 0" [ngClass]="{'no-label': !hasLabel}">
        <i class="nlsg-icon-search nlsg-icon--size-32"></i>
        <p>We couldn't find that you're looking for. Please try another search.</p>
    </div>

</div>
