@import "../nedbank-design.scss";

.nlsg-search-select {
    position: relative;
    width: 100%;
    max-width: 390px;
    @include component-default-margin;
    
    :focus {
        outline-color: transparent;
        outline-style: none;
    }

    .select {
        position: relative;
        text-align: left;
        background: $white;
        cursor: pointer;
        z-index: 95 !important;
        
        height: 50px;
        font-size: 16px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    
		border: 2px solid $light-grey;
		color: $light-grey;
		-webkit-transition: background 0.2s, border-color 0.2s;
        transition: background 0.2s, border-color 0.2s;

        input[type=text] {
            width: 100%;
            height: 100%;
            border: none !important;
            background: transparent;
            position: absolute;
            top: 0;
            left: 0;
            padding-left: 14px;

            font-family: $text-regular;
            font-size: 16px;
            font-weight: 200;
            color: $dark-grey;
            width: 92%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &::placeholder {
            font-family: $text-regular;
            font-size: 16px;
            font-weight: 200;
            }

        }

        .search-select-icon {
            position: absolute;
            width: 32px;
            height: 32px;
            top: 10px;
            right: 5px;
        }
        
        &.open {
            border-top: 2px solid $primary;
            border-left: 2px solid $primary;
            border-right: 2px solid $primary;
            border-bottom: 2px solid $white;

        }

    }

    .options {
        visibility: hidden;
        opacity: 0;
		-webkit-transition: all 0.2s;
        transition: all 0.2s;
        border-top: none !important;
		border-left: 2px solid $primary;
		border-right: 2px solid $primary;
		border-bottom: 2px solid $primary;
		color: $medium-grey;
        z-index: 800 !important;
        max-height: 265px;
        overflow: auto;
        position: absolute;
        top: 71px;
        width: 100%;
        background: $white;

        &.no-label {
            top: 48px;
        }

        &.open {
            visibility: visible;
            opacity: 1;
            -webkit-transition: all 0.2s;
		    transition: all 0.2s;
        }

        li {
            list-style-type: none;
            font-family: $text-regular;
            color: $dark-grey;
            font-size: 16px;
            font-weight: 200;
            padding: 12px;
            cursor: pointer;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            span {
                color: red !important;
            }

            &:hover {
                background: $very-light-grey;
            }

            &.hovered {
                background: $very-light-grey;
            }

        }
        
    }

    .nlsg-c-form-group__helper-text {
        order: 3;
        font-family: $text-regular;
        font-size: 0.875rem;
        margin-top: 3px;
        color: $light-grey;
        letter-spacing: 0.2px;
        display: block;
        width: 100% !important;
    }

    &.valid {

        .select {
            border: 2px solid $tertiary;

            &.open {
            border-bottom: none;
            }

        }

        .options {
            border-top: none !important;
            border-left: 2px solid $tertiary;
            border-right: 2px solid $tertiary;
            border-bottom: 2px solid $tertiary;
        }

    }// valid ends

    &.inValid {

        .select {
            border: 2px solid $warning-red;

            &.open {
            border-bottom: none;
            }

        }

        .options {
            border-top: none !important;
            border-left: 2px solid $warning-red;
            border-right: 2px solid $warning-red;
            border-bottom: 2px solid $warning-red;
        }

        label {
            color: $warning-red;
        }

        .selectedOption {
            color: $warning-red !important;
        }

        .nlsg-c-form-group__helper-text {
            color: $warning-red;
        }

        .placeholder {
            color: $warning-red;
        }

    }// inValid ends

    &.disabled {
        pointer-events: none;
        cursor: not-allowed;

        .select {
            border: 2px solid $light-grey-disabled;
        }

        input[type=text] {
            color: $light-grey-disabled; 
            &::placeholder {
                color: $light-grey-disabled;
            }
        }

        .selectedOption {
            color: $light-grey-disabled !important;
        }

        label {
            color: $light-grey-disabled;
        }

        .nlsg-c-form-group__helper-text {
            color: $light-grey-disabled;
        }

        .search-select-icon {
            color: $light-grey-disabled;
        }

    }// disabled ends

    .noResultsFound {
        border-top: none !important;
        border-left: 2px solid $primary;
        border-right: 2px solid $primary;
        border-bottom: 2px solid $primary;
        color: $medium-grey;
        z-index: 800 !important;
        // height: 100px;
        overflow: auto;
        position: absolute;
        top: 71px;
        width: 100%;
        background: $white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 25px 25px 25px !important;

        &.no-label {
            top: 48px;
        }

            p {
                text-align: center !important;
            }

    }

}
