
// Mark Pro fonts

@font-face {
    font-family: 'FFMarkWebProRegular';
    src: url('/assets/fonts/FFMarkWebProRegular.eot');
    src: url('/assets/fonts/FFMarkWebProRegular.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/FFMarkWebProRegular.woff2') format('woff2'),
        url('/assets/fonts/FFMarkWebProRegular.woff') format('woff'),
        url('/assets/fonts/FFMarkWebProRegular.ttf')  format('truetype'),
}

@font-face {
    font-family: 'FFMarkWebProItalic';
    src: url('/assets/fonts/FFMarkWebProItalic.eot');
    src: url('/assets/fonts/FFMarkWebProItalic.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/FFMarkWebProItalic.woff2') format('woff2'),
        url('/assets/fonts/FFMarkWebProItalic.woff') format('woff'),
        url('/assets/fonts/FFMarkWebProItalic.ttf')  format('truetype'),
}

@font-face {font-family: 'FFMarkWebProMedium';
    src: url('/assets/fonts/FFMarkWebProMedium.eot');
    src: url('/assets/fonts/FFMarkWebProMedium.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/FFMarkWebProMedium.woff2') format('woff2'),
        url('/assets/fonts/FFMarkWebProMedium.woff') format('woff'),
        url('/assets/fonts/FFMarkWebProMedium.ttf')  format('truetype'),
}

$text-regular: 'FFMarkWebProRegular', Helvetica, sans-serif;
$text-medium: 'FFMarkWebProMedium', Helvetica, sans-serif;
$text-italic: 'FFMarkWebProItalic', Helvetica, sans-serif;


h1 {
    font-family: $text-regular;
	font-size: 3.75rem;
	text-transform: capitalize;
	margin-left: -.3rem;

	@media screen and (max-width: $tablet-portrait) {
		font-size: 2.5rem;	
		margin-left: -0.1rem;		
	}	

	@media screen and (max-width: $smartphone) {
		font-size: 1.875rem;	
		margin-left: 0.01rem;		
	}	
}

h2 {
    font-family: $text-regular;
	font-size: 2.5rem;
	font-family: $text-medium;

	@media screen and (max-width: $tablet-portrait) {
		font-size: 1.875rem;			
	}	

	@media screen and (max-width: $smartphone) {
		font-size: 1.625rem;			
	}	
}

h3 {
    font-family: $text-regular;
	font-size: 1.875rem;
	color: $medium-grey;

	@media screen and (max-width: $tablet-portrait) {
		font-size: 1.625rem;			
	}	

	@media screen and (max-width: $smartphone) {
		font-size: 1.5rem;			
	}	
}

h4 {
    font-family: $text-regular;
	font-size: 1.75rem;
	font-family: $text-medium;

	@media screen and (max-width: $tablet-portrait) {
		font-size: 1.5rem;			
	}	

	@media screen and (max-width: $smartphone) {
		font-size: 1.375rem;			
	}	
}

h5 {
	font-size: 1.375rem;
	font-family: $text-medium;

	@media screen and (max-width: $tablet-portrait) {
		font-size: 1.375rem;			
	}	

	@media screen and (max-width: $smartphone) {
		font-size: 1.25rem;			
	}	
}

h6 {
	font-size: 1.25rem;
    font-family: $text-regular;
	@media screen and (max-width: $tablet-portrait) {
		font-size: 1.25rem;			
	}	

	@media screen and (max-width: $smartphone) {
		font-size: 1.125rem;			
	}	
}


// p {
//    font-family: $text-regular;
//    color: $dark-grey;
// }

label {
    font-family: $text-regular;
    order: 1;
    position: relative;
    color: #666;
    font-size: 0.875rem;
    font-weight: 200;
    display: block;
    margin-bottom: 5px;
    max-width: 390px;
    width: 100%;
}
input {
    font-family: $text-regular;
}
textarea {
    font-family: $text-regular;
}

* {
    -webkit-font-smoothing: antialiased;
}