

/* ---------------------
------- Vertical spacing --------
--------------------- */

$spacing-none: 0 !default;

$spacing-small: 15px !default;
$spacing-small-mobile: 10px !default;

$spacing-medium: 30px !default;
$spacing-medium-mobile: 20px !default;

$spacing-large: 60px !default;
$spacing-large-mobile: 40px !default;

ul {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

p {
margin-block-start: 0;
margin-block-end: 0;
margin-inline-start: 0px;
margin-inline-end: 0px;
}

hr {
	display: block;
	position: relative;
	padding: 0;
	margin: $spacing-medium auto;
	height: 0;
	width: 100%;
	max-height: 0;
	line-height: 0;
	clear: both;
	border: none;
	border-top: 1px solid #eee;
}
