<div class="nlsg-c-form-label" [ngClass]="{'disabled': disabled, 'notValid': notValid}">
    <label>
        {{ labelText }}
        <span class="nlsg-icon nlsg-icon-question-circle nlsg-icon--size-16" *ngIf="!hideTooltip"></span>
        <ui-tooltip [tooltipText]="tooltipText" [tooltipHeadingText]="tooltipHeadingText" [hasHeading]="hasHeading" [hideTooltip]="hideTooltip"></ui-tooltip>
    </label>
</div>