@import "../nedbank-design.scss";
.nlsg-c-form-label {
    position: relative;
    width: 100%;
    max-width: 390px;

    label {
        font-family: $text-regular;
        order: 1;
        position: relative;
        color: #666;
        font-size: 0.875rem;
        font-weight: 200;
        display: block;
        margin-bottom: 5px;
        margin-right: 20px;
        max-width: 390px;
        width: 100%;
    }

    .nlsg-c-tooltip {
        bottom: 25px !important;
    }

    .nlsg-icon-question-circle {
        position: absolute;
        right: 0px;
        top: 1px !important;
    }

    &.disabled {

        label {
            color: $light-grey-disabled;
            pointer-events: none;
        }
        .nlsg-c-tooltip {
            color: $light-grey-disabled;
            pointer-events: none;
        }
    
        .nlsg-icon-question-circle {
            color: $light-grey-disabled;
            pointer-events: none;
        }
    }

    &.notValid {

        label {
            color: $warning-red;
        }
    
        .nlsg-icon-question-circle {
            color: $warning-red;
        }
    }

}




