@charset "UTF-8";
@import "../nedbank-design.scss";
// Thin font
@font-face {
    font-family: 'nlsg-icons-thin';
    src: url('https://cors-anywhere.herokuapp.com/http://design.nedbank.co.za/assets/fonts/nlsg-icons-thin.woff');
}

//Regular font
@font-face {
    font-family: 'nlsg-icons';
    src: url('https://cors-anywhere.herokuapp.com/http://design.nedbank.co.za/assets/fonts/nlsg-icons.woff');
}

[class^="nlsg-"]:before,[class^="nlsg-"]:after,
[class*=" nlsg-"]:before,[class*=" nlsg-"]:after {
font-family: 'nlsg-icons';
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.nlsg-icon {
    cursor: pointer;

    // Sizes
    &--size {
        &-16 {
            font-size: 16px;
            width: 16px;
            height: auto;
            top: 3px;
        }
        &-24 {
            font-size: 24px;
            width: 24px;
            height: auto;
            top: 7px;
        }
        &-32 {
            font-size: 32px;
            width: 32px;
            height: auto;
        }
    }

    // Colors
    &--colour {
        &-brand-green {
            color: $primary;
        }
        &-grass-green {
            color: $secondary;
        }
        &-apple-green {
            color: $tertiary;
        }
        &-dark-grey {
            color: $dark-grey;
        }
        &-medium-grey {
            color: $medium-grey;
        }
        &-light-grey {
            color: $light-grey;
        }
        &-disabled-grey {
            color: $light-grey-disabled;
        }
        &-white {
            color: $white!important;
        }
        &-warning-red {
            color: $warning-red;
        }
        &-warning-orange {
            color: $warning-orange;
        }
        &-accent-teal {
            color: $accent-teal;
        }
    }

    // Light icons
    &--light:before {
        font-family: "nlsg-icons-thin" !important;
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    // Icons 

    &-360:before {
    content: "\61";
    }
    &-accounts:before {
    content: "\62";
    }
    &-arrow-down:before {
    content: "\63";
    }
    &-arrow-left:before {
    content: "\64";
    }
    &-arrow-right:before {
    content: "\65";
    }
    &-arrow-up:before {
    content: "\66";
    }
    &-banker:before {
    content: "\67";
    }
    &-bell:before {
    content: "\68";
    }
    &-builing:before {
    content: "\69";
    }
    &-calculator:before {
    content: "\6a";
    }
    &-calender:before {
    content: "\6b";
    }
    &-calender-date:before {
    content: "\6c";
    }
    &-camera:before {
    content: "\6d";
    }
    &-card:before {
    content: "\6e";
    }
    &-card-add:before {
    content: "\6f";
    }
    &-card-block:before {
    content: "\70";
    }
    &-card-check:before {
    content: "\71";
    }
    &-card-lock:before {
    content: "\72";
    }
    &-card-over:before {
    content: "\73";
    }
    &-cart:before {
    content: "\74";
    }
    &-cart-empty:before {
    content: "\75";
    }
    &-cart-old:before {
    content: "\76";
    }
    &-chat:before {
    content: "\77";
    }
    &-check:before {
    content: "\78";
    }
    &-check-circle:before {
    content: "\79";
    }
    &-close:before {
    content: "\7a";
    }
    &-close-circle:before {
    content: "\41";
    }
    &-docs:before {
    content: "\42";
    }
    &-docsearch:before {
    content: "\43";
    }
    &-download:before {
    content: "\44";
    }
    &-electricity:before {
    content: "\45";
    }
    &-error:before {
    content: "\46";
    }
    &-expand:before {
    content: "\47";
    }
    &-eye:before {
    content: "\48";
    }
    &-filter:before {
    content: "\49";
    }
    &-form-check:before {
    content: "\4a";
    }
    &-fraud:before {
    content: "\4b";
    }
    &-gallery:before {
    content: "\4c";
    }
    &-group:before {
    content: "\4d";
    }
    &-hide:before {
    content: "\4e";
    }
    &-home:before {
    content: "\4f";
    }
    &-house:before {
    content: "\50";
    }
    &-info:before {
    content: "\51";
    }
    &-instantpay:before {
    content: "\52";
    }
    &-investment:before {
    content: "\53";
    }
    &-key:before {
    content: "\54";
    }
    &-link:before {
    content: "\55";
    }
    &-loader:before {
    content: "\56";
    }
    &-location:before {
    content: "\57";
    }
    &-lock:before {
    content: "\58";
    }
    &-lock-circle:before {
    content: "\59";
    }
    &-lotto:before {
    content: "\5a";
    }
    &-mail:before {
    content: "\30";
    }
    &-mail-check:before {
    content: "\31";
    }
    &-maintanance:before {
    content: "\32";
    }
    &-menu:before {
    content: "\33";
    }
    &-minus:before {
    content: "\34";
    }
    &-minus-circle:before {
    content: "\35";
    }
    &-minus-solid:before {
    content: "\36";
    }
    &-more:before {
    content: "\37";
    }
    &-open:before {
    content: "\38";
    }
    &-passport:before {
    content: "\39";
    }
    &-pay:before {
    content: "\21";
    }
    &-pay-quick:before {
    content: "\22";
    }
    &-pencil:before {
    content: "\23";
    }
    &-phone:before {
    content: "\24";
    }
    &-play:before {
    content: "\25";
    }
    &-plus:before {
    content: "\26";
    }
    &-plus-circle:before {
    content: "\27";
    }
    &-plus-solid:before {
    content: "\28";
    }
    &-print:before {
    content: "\29";
    }
    &-profile:before {
    content: "\2a";
    }
    &-profile-add:before {
    content: "\2b";
    }
    &-profile-checked:before {
    content: "\2c";
    }
    &-profile-remove:before {
    content: "\2d";
    }
    &-profile-search:before {
    content: "\2e";
    }
    &-qr:before {
    content: "\2f";
    }
    &-question-circle:before {
    content: "\3a";
    }
    &-receipt:before {
    content: "\3b";
    }
    &-receipts:before {
    content: "\3c";
    }
    &-rejected:before {
    content: "\3d";
    }
    &-retry:before {
    content: "\3e";
    }
    &-rewards:before {
    content: "\3f";
    }
    &-save:before {
    content: "\40";
    }
    &-search:before {
    content: "\5b";
    }
    &-settings:before {
    content: "\5d";
    }
    &-share:before {
    content: "\5e";
    }
    &-smartphone:before {
    content: "\5f";
    }
    &-smartphone-airtime:before {
    content: "\60";
    }
    &-smartphone-data:before {
    content: "\7b";
    }
    &-sorting:before {
    content: "\7c";
    }
    &-star:before {
    content: "\7d";
    }
    &-steps:before {
    content: "\7e";
    }
    &-tailarrow-down:before {
    content: "\5c";
    }
    &-tailarrow-left:before {
    content: "\e000";
    }
    &-tailarrow-right:before {
    content: "\e001";
    }
    &-tailarrow-up:before {
    content: "\e002";
    }
    &-thumbs-down:before {
    content: "\e003";
    }
    &-thumbs-up:before {
    content: "\e004";
    }
    &-time:before {
    content: "\e005";
    }
    &-transfer:before {
    content: "\e006";
    }
    &-trash:before {
    content: "\e007";
    }
    &-unlock:before {
    content: "\e008";
    }
    &-upload:before {
    content: "\e009";
    }
    &-vehicle:before {
    content: "\e00a";
    }
    &-wallet:before {
    content: "\e00b";
    }
    &-warning:before {
    content: "\e00c";
    }
    &-widget:before {
    content: "\e00d";
    }
    
    &-after-360:after {
    content: "\61";
    }
    &-after-accounts:after {
    content: "\62";
    }
    &-after-arrow-down:after {
    content: "\63";
    }
    &-after-arrow-left:after {
    content: "\64";
    }
    &-after-arrow-right:after {
    content: "\65";
    }
    &-after-arrow-up:after {
    content: "\66";
    }
    &-after-banker:after {
    content: "\67";
    }
    &-after-bell:after {
    content: "\68";
    }
    &-after-builing:after {
    content: "\69";
    }
    &-after-calculator:after {
    content: "\6a";
    }
    &-after-calender:after {
    content: "\6b";
    }
    &-after-calender-date:after {
    content: "\6c";
    }
    &-after-camera:after {
    content: "\6d";
    }
    &-after-card:after {
    content: "\6e";
    }
    &-after-card-add:after {
    content: "\6f";
    }
    &-after-card-block:after {
    content: "\70";
    }
    &-after-card-check:after {
    content: "\71";
    }
    &-after-card-lock:after {
    content: "\72";
    }
    &-after-card-over:after {
    content: "\73";
    }
    &-after-cart:after {
    content: "\74";
    }
    &-after-cart-empty:after {
    content: "\75";
    }
    &-after-cart-old:after {
    content: "\76";
    }
    &-after-chat:after {
    content: "\77";
    }
    &-after-check:after {
    content: "\78";
    }
    &-after-check-circle:after {
    content: "\79";
    }
    &-after-close:after {
    content: "\7a";
    }
    &-after-close-circle:after {
    content: "\41";
    }
    &-after-docs:after {
    content: "\42";
    }
    &-after-docsearch:after {
    content: "\43";
    }
    &-after-download:after {
    content: "\44";
    }
    &-after-electricity:after {
    content: "\45";
    }
    &-after-error:after {
    content: "\46";
    }
    &-after-expand:after {
    content: "\47";
    }
    &-after-eye:after {
    content: "\48";
    }
    &-after-filter:after {
    content: "\49";
    }
    &-after-form-check:after {
    content: "\4a";
    }
    &-after-fraud:after {
    content: "\4b";
    }
    &-after-gallery:after {
    content: "\4c";
    }
    &-after-group:after {
    content: "\4d";
    }
    &-after-hide:after {
    content: "\4e";
    }
    &-after-home:after {
    content: "\4f";
    }
    &-after-house:after {
    content: "\50";
    }
    &-after-info:after {
    content: "\51";
    }
    &-after-instantpay:after {
    content: "\52";
    }
    &-after-investment:after {
    content: "\53";
    }
    &-after-key:after {
    content: "\54";
    }
    &-after-link:after {
    content: "\55";
    }
    &-after-loader:after {
    content: "\56";
    }
    &-after-location:after {
    content: "\57";
    }
    &-after-lock:after {
    content: "\58";
    }
    &-after-lock-circle:after {
    content: "\59";
    }
    &-after-lotto:after {
    content: "\5a";
    }
    &-after-mail:after {
    content: "\30";
    }
    &-after-mail-check:after {
    content: "\31";
    }
    &-after-maintanance:after {
    content: "\32";
    }
    &-after-menu:after {
    content: "\33";
    }
    &-after-minus:after {
    content: "\34";
    }
    &-after-minus-circle:after {
    content: "\35";
    }
    &-after-minus-solid:after {
    content: "\36";
    }
    &-after-more:after {
    content: "\37";
    }
    &-after-open:after {
    content: "\38";
    }
    &-after-passport:after {
    content: "\39";
    }
    &-after-pay:after {
    content: "\21";
    }
    &-after-pay-quick:after {
    content: "\22";
    }
    &-after-pencil:after {
    content: "\23";
    }
    &-after-phone:after {
    content: "\24";
    }
    &-after-play:after {
    content: "\25";
    }
    &-after-plus:after {
    content: "\26";
    }
    &-after-plus-circle:after {
    content: "\27";
    }
    &-after-plus-solid:after {
    content: "\28";
    }
    &-after-print:after {
    content: "\29";
    }
    &-after-profile:after {
    content: "\2a";
    }
    &-after-profile-add:after {
    content: "\2b";
    }
    &-after-profile-checked:after {
    content: "\2c";
    }
    &-after-profile-remove:after {
    content: "\2d";
    }
    &-after-profile-search:after {
    content: "\2e";
    }
    &-after-qr:after {
    content: "\2f";
    }
    &-after-question-circle:after {
    content: "\3a";
    }
    &-after-receipt:after {
    content: "\3b";
    }
    &-after-receipts:after {
    content: "\3c";
    }
    &-after-rejected:after {
    content: "\3d";
    }
    &-after-retry:after {
    content: "\3e";
    }
    &-after-rewards:after {
    content: "\3f";
    }
    &-after-save:after {
    content: "\40";
    }
    &-after-search:after {
    content: "\5b";
    }
    &-after-settings:after {
    content: "\5d";
    }
    &-after-share:after {
    content: "\5e";
    }
    &-after-smartphone:after {
    content: "\5f";
    }
    &-after-smartphone-airtime:after {
    content: "\60";
    }
    &-after-smartphone-data:after {
    content: "\7b";
    }
    &-after-sorting:after {
    content: "\7c";
    }
    &-after-star:after {
    content: "\7d";
    }
    &-after-steps:after {
    content: "\7e";
    }
    &-after-tailarrow-down:after {
    content: "\5c";
    }
    &-after-tailarrow-left:after {
    content: "\e000";
    }
    &-after-tailarrow-right:after {
    content: "\e001";
    }
    &-after-tailarrow-up:after {
    content: "\e002";
    }
    &-after-thumbs-down:after {
    content: "\e003";
    }
    &-after-thumbs-up:after {
    content: "\e004";
    }
    &-after-time:after {
    content: "\e005";
    }
    &-after-transfer:after {
    content: "\e006";
    }
    &-after-trash:after {
    content: "\e007";
    }
    &-after-unlock:after {
    content: "\e008";
    }
    &-after-upload:after {
    content: "\e009";
    }
    &-after-vehicle:after {
    content: "\e00a";
    }
    &-after-wallet:after {
    content: "\e00b";
    }
    &-after-warning:after {
    content: "\e00c";
    }
    &-after-widget:after {
    content: "\e00d";
    }


}// nlsg-icon ends