@import "../nedbank-design.scss";

// Tag

.nlsg-c-tag {
	cursor: pointer;
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	line-height: 1;
	font-size: 10px;
	padding: 10px;
	margin: 2px 5px 0 0;
	width: auto;
	max-height: 26px;
    background-color: $very-light-grey;
	color: $dark-grey;
	border: 0 solid $very-light-grey;
	border-radius: 30px;
	font-family: $text-medium;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	user-select: none;
	@include component-default-margin;

		.nlsg-icon-after-close {
			font-size: 16px !important;
			position: relative;
			top: 1px;
			right: -3px;
			width: 16px;
			height: 16px;
		}
	
	// &:after {
	// 	font-family: "nlsg-icons" !important;
	// 	font-size: 16px !important;
	// 	@extend .nlsg-icon-after-close;
	// 	@extend .nlsg-icon--colour-dark-grey;
	// 	position: relative;
	//     top: 1px;
	// 	width: 16px;
	// 	height: 16px;
	// }

	&:focus {
		color: $dark-grey !important;
		background: $light-grey-disabled;
		outline: none;
	}

	&:hover {
		color: $dark-grey !important;
		background: $light-grey-disabled;
		// &:after {
		// 	color: $secondary !important;
		// 	color: $dark-grey !important;
		//     top: 1px;
		// 	width: 16px;
		// 	height: 16px;	
		// }
	}
}