<a href="javascript:void(0)" class="nlsg-c-tag"
     *ngIf="!remove_tag"
     [ngClass]="{
        'margin-bottom-sm': marginBottomSm,
        'margin-bottom-md': marginBottomMd,
        'margin-bottom-lg': marginBottomLg,
        'margin-bottom-none': marginBottomNone
    }">
    {{ tagText }}
    <span class="nlsg-icon-after-close" *ngIf="hasCloseIcon" (click)="removeTag()"></span>
</a>