<div class="nlsg-select" 
    [ngClass]="{
        'valid': isValid,
        'inValid': notValid,
        'disabled': disabled,
        'margin-bottom-sm': marginBottomSm,
        'margin-bottom-md': marginBottomMd,
        'margin-bottom-lg': marginBottomLg,
        'margin-bottom-none': marginBottomNone
    }"
    >
    <ui-form-label
        *ngIf="hasLabel" 
        [labelText]="labelText" 
        [disabled]="disabled" 
        [notValid]="notValid" 
        [tooltipText]="tooltipText" [tooltipHeadingText]="tooltipHeadingText"
        [hasHeading]="hasHeading" [hideTooltip]="hideTooltip"
    ></ui-form-label>

    <div class="select" 
        aria-haspopup="listbox"
        tabindex="0" 
        (click)="openClose()" 
        (keydown)="keyDown($event); keyDownTab($event)" 
        (keyup)="keyUpTab($event)" 
        [ngClass]="{
        'open': !this.closed,
        'close': this.closed
        }" 
    >
        <div class="selectedOption" *ngIf="selected">
            {{ selected.selectOption }}
        </div>
        <div class="placeholder" *ngIf="!selected">
            {{ selectPlaceholder }}
        </div>
    </div>
    <ui-form-helper-text *ngIf="hashelperText" [helperText]="helperText" [disabled]="disabled" [notValid]="notValid"></ui-form-helper-text>
    <ul class="options" [ngClass]="{'open': !this.closed, 'no-label': !hasLabel}" #optionsContainer>
        <li class="option" *ngFor="let option of options; let i = index" (click)="select(option)" [class.hovered]="i == arrowkeyLocation" #option+i>
            {{ option.selectOption }}
        </li>
    </ul>
</div>