@import "../nedbank-design.scss";

.nlsg-select {
    position: relative;
    width: 100%;
    max-width: 390px;
    @include component-default-margin;
    
    :focus {
        outline-color: transparent;
        outline-style: none;
    }

    .select {
        position: relative;
        text-align: left;
        background: $white;
        cursor: pointer;
        z-index: 95 !important;
        
        height: 50px;
        font-size: 16px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    
		border: 2px solid $light-grey;
		color: $light-grey;
		-webkit-transition: background 0.2s, border-color 0.2s;
        transition: background 0.2s, border-color 0.2s;

		&:after {
			font-family: "nlsg-icons" !important;
			@extend .nlsg-icon-after-arrow-down;
            @extend .nlsg-icon--size-24;
            position: absolute;
			top: 10px;
			right: 13px;
            color: $light-grey;
            -webkit-transition: all 0.25s;
            transition: all 0.25s;
		}
        
        &.open {
            border-top: 2px solid $primary;
            border-left: 2px solid $primary;
            border-right: 2px solid $primary;
            border-bottom: none;

            &:after {
                transform: rotate(180deg);
            }

        }

        .placeholder {
            font-family: $text-regular;
            font-size: 16px;
            font-weight: 200;
            padding: 14px 12px;
        }

        .selectedOption {
            font-family: $text-regular;
            font-size: 16px;
            font-weight: 200;
            padding: 12px;
            color: $dark-grey;
            width: 92%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

    }

    .options {
        visibility: hidden;
        opacity: 0;
		-webkit-transition: all 0.2s;
        transition: all 0.2s;
        z-index: 99 !important;
        
        border-top: none !important;
		border-left: 2px solid $primary;
		border-right: 2px solid $primary;
		border-bottom: 2px solid $primary;
		color: $medium-grey;
        z-index: 800 !important;
        max-height: 265px;
        overflow: auto;

        position: absolute;
        top: 72px;
        width: 100%;
        background: $white;

        &.no-label {
            top: 50px;
        }

        &.open {
            visibility: visible;
            opacity: 1;
            -webkit-transition: all 0.2s;
		    transition: all 0.2s;
        }

        li {
            list-style-type: none;
            font-family: $text-regular;
            color: $dark-grey;
            font-size: 16px;
            font-weight: 200;
            padding: 12px;
            cursor: pointer;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &:hover {
                background: $very-light-grey;
            }

            &.hovered {
                background: $very-light-grey;
            }

        }
        
    }

    .nlsg-c-form-group__helper-text {
        order: 3;
        font-family: $text-regular;
        font-size: 0.875rem;
        margin-top: 3px;
        color: $light-grey;
        letter-spacing: 0.2px;
        display: block;
        width: 100% !important;
    }

    &.valid {

        .select {
            border: 2px solid $tertiary;

            &.open {
            border-bottom: none;
            }

        }

        .options {
            border-top: none !important;
            border-left: 2px solid $tertiary;
            border-right: 2px solid $tertiary;
            border-bottom: 2px solid $tertiary;
        }

    }// valid ends

    &.inValid {

        .select {
            border: 2px solid $warning-red;

            &.open {
            border-bottom: none;
            }

        }

        .options {
            border-top: none !important;
            border-left: 2px solid $warning-red;
            border-right: 2px solid $warning-red;
            border-bottom: 2px solid $warning-red;
        }

        label {
            color: $warning-red;
        }

        .nlsg-c-form-group__helper-text {
            color: $warning-red;
        }

    }// inValid ends

    &.disabled {
        pointer-events: none;
        cursor: not-allowed;

        .select {
            border: 2px solid $light-grey-disabled;

            &:after {
                color: $light-grey-disabled !important;
            }
        }

        .selectedOption {
            color: $light-grey-disabled !important;
        }

        label {
            color: $light-grey-disabled;
        }

        .nlsg-c-form-group__helper-text {
            color: $light-grey-disabled;
        }

        .placeholder {
            color: $light-grey-disabled;
        }

    }// disabled ends

}
