<ul class="nlsg-c-tabs"
    id="tabsId"
    [ngClass]="{
        'margin-bottom-sm': marginBottomSm,
        'margin-bottom-md': marginBottomMd,
        'margin-bottom-lg': marginBottomLg,
        'margin-bottom-none': marginBottomNone
    }">
    <li *ngFor="let tabData of tabDatas" 
        routerLinkActive="active" routerLinkActiveOptions="{exact: true}" (click)="toggleActive($event)">
        
        <a (keydown.Tab)="onTab($event)" routerLink="{{ tabData.routerlink }}" 
        attr.data-tabTarget="{{ tabData.dataAttr }}">{{ tabData.label }}</a>
    </li>
</ul>

