@import "../nedbank-design.scss";

.nlsg-c-tabs {
    border-bottom: 1px solid $very-light-grey;
    padding: 0px;
    height: 52px;
    display: flex;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    @include component-default-margin;

        @media screen and (max-width: $smartphone) {
            max-width: 640px;
        }
    
        @media screen and (max-width: $small-smartphone) {
            max-width: 320px;
        }
    
        li {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0px;
            max-height: 53px;
            transition: all 0.25s;

            @media screen and (max-width: $tablet-landscape) {
              text-align: center;
              margin-right: 0px;
              min-width: 114px;
            }
    
            @media screen and (max-width: $small-smartphone) {
              text-align: center;
              margin-right: 0px;
              min-width: 150px;
            }
    
            &:last-of-type {
                margin-right: 0px;
            }
    
            a {
                text-decoration: none;
                color: $dark-grey;
                font-size: 14px;
                width: auto;
                padding: 15px 10px;
                line-height: 18.5px;
                font-family: $text-regular;

                &:focus {
                    outline: none;
                }    

                @media screen and (max-width: $tablet-landscape) {
                    min-width: 60px;
                }
            }
    
            &:hover {
                -moz-box-shadow: inset 0 -3px 0 0 $light-grey;
                -webkit-box-shadow: inset 0 -3px 0 0 $light-grey;
                box-shadow: inset 0 -3px 0 0 $light-grey;
                cursor: pointer;
    
                a {
                    color: $dark-grey !important;
                }
    
            }
    
            &.active {
            -moz-box-shadow: inset 0 -3px 0 0 $secondary;
            -webkit-box-shadow: inset 0 -3px 0 0 $secondary;
            box-shadow: inset 0 -3px 0 0 $secondary;
    
                a {
                font-family: $text-medium;
                color: $dark-grey;
                line-height: 18.5px;
                padding: 17px 10px;
                margin-bottom: 2px;
                }
    
            }

            &.focus {
            -moz-box-shadow: inset 0 -3px 0 0  $light-grey;
            -webkit-box-shadow: inset 0 -3px 0 0  $light-grey;
            box-shadow: inset 0 -3px 0 0  $light-grey;
            }
        }
}

.sr-only {
    position: absolute;
    left:-99999px;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }