@import "../nedbank-design.scss";

.nlsg-c-form-group__helper-text {
    order: 3;
    font-family: $text-regular;
    font-size: 14px !important;
    margin-top: 3px;
    color: $light-grey;
    letter-spacing: 0.2px;
    display: block;
    width: 100% !important;
    margin-bottom: 0;
    &::before {
        font-size: 1rem;
        margin-right: 0.3125rem;
        display: flex;
        align-self: center;
    }

    &.disabled {
        color: $light-grey-disabled;
    }

    &.notValid {
        color: $warning-red;
    }
}