@import "../nedbank-design.scss";

// Multi select

.nlsg-multi-select {
    position: relative;
    width: 100%;
    max-width: 390px;
    @include component-default-margin;
    font-family: $text-regular;

    // Dropdown trigger
    .dropdown-btn {
        display: inline-block !important;
        font-family: $text-regular;
        width: 100% !important;
        max-width: 390px !important;
        height: 3.25rem !important;
        font-size: 1rem !important;
        font-weight: 100 !important;
        padding: 0 10px !important;
        color: $dark-grey !important;
        border: 2px solid $light-grey !important;
        transition: border-color 0.25s !important;
        border-radius: 0px !important;
        box-shadow: none !important;
        outline: none !important;

            &:-webkit-autofill,
            &:-webkit-autofill:hover, 
            &:-webkit-autofill:focus, 
            &:-webkit-autofill:active  {
            -webkit-box-shadow: 0 0 0 30px white inset !important;
            box-shadow: 0 0 0 30px white inset !important;
            }

            span:first-of-type {
                color: $light-grey;
                margin: 12px 0px 0px 0px;
                display: inline-block;
            }

            span:last-of-type {
                float: left !important;
                margin-left: 25px !important;
            }

            &:focus {
                border: 2px solid $primary !important;
                // border-left: 2px solid $primary !important;
                // border-right: 2px solid $primary !important;
                // border-bottom: none !important;
            }

    }

    // Arrow
    .dropdown-down {
    display: inline-block;
    top: 10px;
    border: none !important;

        &:after {
            font-family: "nlsg-icons" !important;
            @extend .nlsg-icon-after-arrow-down;
            @extend .nlsg-icon--size-24;
            position: absolute;
            top: 8px;
            right: 13px;
            color: $light-grey;
            -webkit-transition: all 0.25s;
            transition: all 0.25s;
        }

    }

    .dropdown-up {
    display: inline-block;
    top: 10px;
    border: none !important;

        &:after {
            font-family: "nlsg-icons" !important;
            @extend .nlsg-icon-after-arrow-down;
            @extend .nlsg-icon--size-24;
            position: absolute;
            top: 8px;
            right: 13px;
            color: $light-grey;
            -webkit-transition: all 0.25s;
            transition: all 0.25s;
            transform: rotate(180deg);
        }

    }

    

    // Panel
    .dropdown-list {
        box-shadow: none !important;
        border-radius: 0px !important;
        font-size: 1rem !important;
        font-weight: 100 !important;
        padding: 0 10px !important;
        color: $dark-grey !important;
        border: 2px solid $primary !important;
        border-top: none !important;
        font-family: $text-regular;
        padding: 0px !important;
        margin-top: -2px !important;
        transition: all 0.25s !important;

        li {
            font-family: $text-regular !important;
            color: $dark-grey !important;
            font-size: 16px !important;
            font-weight: 200 !important;
            padding: 12px !important;
            cursor: pointer !important;
            white-space: nowrap !important;
            overflow: hidden !important;
            text-overflow: ellipsis !important;
        }
    }

    .multiselect-item-checkbox input[type=checkbox] + div {
        padding-left: 41px !important;
        padding-top: 10px;
    }

    // Checkbox
    .multiselect-item-checkbox input[type=checkbox] + div:before {
        border: 2px solid $light-grey !important;
        background: $white !important;
        border-radius: 5px !important;
        width: 24px !important;
        height: 24px !important;
    }
    .multiselect-item-checkbox input[type=checkbox]:checked + div:before {
        border: 2px solid $tertiary !important;
        background: $tertiary !important;
        color: transparent !important;
        transition: none !important;
        animation: none !important;
    }
    .multiselect-item-checkbox input[type=checkbox]:checked + div:after {
        content: "";
        transition: transform .2s ease-out;
        transform: rotate(-45deg) scale(1);
    }



    // Tags
    .selected-item {
        cursor: pointer !important;
        text-decoration: none !important;
        // display: inline-flex !important;
        // align-items: center !important;
        line-height: 1 !important;
        font-size: 10px !important;
        padding: 0px 10px 8px 10px !important;
        margin: 12px 5px 0 0 !important;
        width: auto !important;
        max-height: 26px !important;
        background: $very-light-grey !important;
        color: $dark-grey !important;
        border: 0 solid $very-light-grey !important;
        border-radius: 30px !important;
        font-family: $text-medium !important;
        -webkit-user-select: none !important;
        -moz-user-select: none !important;
        -ms-user-select: none !important;
        user-select: none !important;
        position: relative;


            &:hover {
                box-shadow: none !important;
            }

            a {
                color: $very-light-grey !important;
                padding-top: 0px;
                font-family: "nlsg-icons" !important;
                @extend .nlsg-icon-close;
                @extend .nlsg-icon--size-16;
                -webkit-transition: all 0.25s;
                transition: all 0.25s;

                    &:before {
                        right: 5px;
                        color: $dark-grey !important;
                        display: block !important;
                        top: 5px;
                        position: absolute;
                    }
            }

            
    }

}