@import "../nedbank-design.scss";
// Accordions
.nlsg-c-accordion {
    background: #fff;
    @include component-default-margin;
    ul {
        border-top: 1px solid $very-light-grey !important;
        list-style-type: none;
        margin-block-start: 0px;
        margin-block-end: 0px;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 0px;
        width: 100%;
        li {
            width: 100%;
            .accordion-trigger {
            border: none;
            border-bottom: 1px solid $very-light-grey;
            background: $white;
            width: 97.5%;
            text-align: start;
            display: block;
            padding: 14px 10px 14px 18px;
            font-size: 18px;
            font-family: $text-regular;
            color: $dark-grey;
            text-decoration: none;
            margin-bottom: -1px;
                &:focus,
                &:hover {
                color: $dark-grey !important;
                background: $almost-white;
                outline: none;
                }
                &:before {
                font-family: "nlsg-icons" !important;
                @extend .nlsg-icon-arrow-down;
                @extend .nlsg-icon--size-16;
                color: $dark-grey;
                float: right;
                margin-top: 3px;
                transition: transform 0.25s;
                }
                &.active {
                    &:before {
                    transform: rotate(180deg);
                    }
                }
            }// a ends
        }// li ends
        
    }// ul ends
    &--content {
    border-bottom: 1px solid $very-light-grey;
    font-size: 16px !important;
    max-height: 0;
    // height: auto;
    overflow: hidden;
    transition: all 0.2s ease-out;
        .inner {
        padding: 20px 40px;
        }
        &.open {
        max-height: initial;
        height: auto;
        }
    }// content ends
    &--small {
        ul {
            li {
                .accordion-trigger {
                font-size: 16px;
                }
            }
        }
        .inner {
            padding: 10px 35px;
            font-size: 14px;
            p, ul, li, a {
            font-size: 14px;
            }
        }
    }// --small ends
    @media screen and (max-width: $tablet-portrait) {
        ul {
            li {
                .accordion-trigger {
                font-size: 16px;
                }
            }
        }
        .inner {
            padding: 15px 32px 0px 32px;
            font-size: 14px;
            p, ul, li, a {
            font-size: 14px;
            }
        }
    }// responsive ends
}// nlsg-c-accordion ends