<div class="nlsg-c-accordion"
    [ngClass]="{
    'nlsg-c-accordion--small': smallAccordion,
    'margin-bottom-sm': marginBottomSm,
    'margin-bottom-md': marginBottomMd,
    'margin-bottom-lg': marginBottomLg,
    'margin-bottom-none': marginBottomNone
    }">
    <ul>
        <li *ngFor="let accordionItem of accordionData; let first = first, let index = index">
            <button 
                *ngIf="first" 
                aria-expanded="true" 
                attr.aria-controls="sect{{index + 1}}" 
                id="accordiontab{{index + 1}}" 
                class="accordion-trigger" 
                (click)="toggleAccordian($event)" 
                [ngClass]="{'active': openFirstAccorion && first}">
                {{ accordionItem.accordionLink }}
            </button>

            <button 
                *ngIf="!first"
                aria-expanded="false"
                attr.aria-controls="sect{{index + 1}}" 
                id="accordiontab{{index + 1}}" 
                class="accordion-trigger" 
                (click)="toggleAccordian($event)" 
                [ngClass]="{'active': openFirstAccorion && first}">
                {{ accordionItem.accordionLink }}
            </button>

            <div 
                id="sect{{index + 1}}" 
                role="region" 
                attr.aria-labelledby="accordiontab{{index + 1}}" class="nlsg-c-accordion--content" 
                [ngClass]="{'open': openFirstAccorion && first}">
                <div class="inner row">
                    <p>{{ accordionItem.accordionContent }}</p>
                </div>
            </div>
        </li>
    </ul>
</div>
