@import "../nedbank-design.scss";

// Block alerts

.nlsg-c-alert {
	&--block {
		position: relative;
		display: flex;
		justify-content: space-between;
		padding: 20px;
		color: $dark-grey;
		width: 100%;
		min-height: 64px;
		min-width: $small-smartphone;
		@include component-default-margin;

		&:before  {
			position: relative;
			cursor: pointer;
			font-family: "nlsg-icons";
			top: 2px;
			left: 0;
			margin-right: 10px;
			@extend .nlsg-icon--size-24;
		}

		.close-icon {
			position: absolute;
			cursor: pointer;
			font-family: "nlsg-icons";
			top: 21px;
			right: 20px;
			@extend .nlsg-icon-after-close;
			@extend .nlsg-icon--size-24;
		}

		.singleLineIcon {
			top: -5px;
			right: 0px;
		}

		&--fixed {
			position: fixed;
		}

		&__alert-content {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 100%;

			p {
				margin: 0 0 10px 0;

				&.heading {
                    font-family: $text-medium;
                    margin-bottom: 10px;
				}
			}

			.link-container {
				display: inherit;
				flex-direction: row;
				
				a {
                    font-family: $text-medium;
					color: $dark-grey;
					padding-right: 16px;
					text-decoration: underline;
				}
			}
		}

		&--single-line {
			align-items: center;
			padding: 0 20px;

				.heading {
					margin-bottom: 0px !important;
					position: relative;
				}
	
			@media screen and (max-width: $smartphone) {
				align-items: flex-start;
			}	
		}
	
		&--informative {
			background: $accent-teal-light-20;
			&:before {
				@extend .nlsg-icon-info;
				@extend .nlsg-icon--colour-accent-teal;
			}
		}
	
		&--warning {	
			background: $warning-orange-light-20;
			&:before {
				@extend .nlsg-icon-warning;
				@extend .nlsg-icon--colour-warning-orange;
			}
		}	
	
		&--success  {
			background: $tertiary-light-20;
			&:before {
				@extend .nlsg-icon-check;
				@extend .nlsg-icon--colour-grass-green;
			}
		}
	
		&--error   {
			background: $warning-red-light-20;
			&:before {
				@extend .nlsg-icon-warning;
				@extend .nlsg-icon--colour-warning-red;
			}
		}
	}
}