<div role="alert" class="nlsg-c-alert--block"
    [ngClass]="{
        'nlsg-c-alert--block--informative': infoBlockAlert, 
        'nlsg-c-alert--block--warning': warningBlockAlert, 
        'nlsg-c-alert--block--success': successBlockAlert, 
        'nlsg-c-alert--block--error': errorBlockAlert, 
        'nlsg-c-alert--block--single-line': singleLineBlockAlert,
        'nlsg-c-alert--block--fixed': fixedAlert,
        'margin-bottom-sm': marginBottomSm,
        'margin-bottom-md': marginBottomMd,
        'margin-bottom-lg': marginBottomLg,
        'margin-bottom-none': marginBottomNone
    }"
    *ngIf="alertVisible" 
    >
    <div class="nlsg-c-alert--block__alert-content">
        <span *ngIf="!singleLineBlockAlert" class="close-icon" (click)="closeAlert()"></span>
        <p class="heading">{{ alertHeading }} 
            <span *ngIf="singleLineBlockAlert" class="close-icon singleLineIcon" (click)="closeAlert()"></span>
        </p>
        <p *ngIf="!singleLineBlockAlert">{{ alertBody }}</p>
        <div class="link-container" *ngIf="hasLinks">
            <!-- <a>{{ link1Text }}</a>
            <a>{{ link2Text }}</a> -->
            <a href="javascript:void(0)" (click)="checkLink(link1Text)">{{ link1Text }}</a>
            <a href="javascript:void(0)" (click)="checkLink(link2Text)">{{ link2Text }}</a>
        </div>
    </div>
</div>

