@import "../nedbank-design.scss";

.nlsg-c-date-input {
    @include component-default-margin;
    .nlsg-c-form-group {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;  
        justify-content: center;
        align-items: center;
        max-width: 100px;

        &--year {
            max-width: 160px; 
        }

        &--full-width {
            max-width: 390px;
        }
        
        & label {
            order: 1;
            position: relative;
            color: $medium-grey;
            font-family: $text-regular;
            font-size: 0.875rem;
            font-weight: 200;
            display: block;
            margin-bottom: 5px;
            max-width: 390px;
            width: 100%;
    
        }
        & input {
            font-family: $text-regular;
            order: 2;
            width: 100%;
            height: 3.25rem;
            font-size: 1rem;
            font-weight: 100;
            padding: 0 10px;
            color: $dark-grey;
            border: 2px solid $light-grey;
            transition: border-color 0.25s;

            &:focus {
                border-color: $primary;
                outline: none;
            }
  
            &:disabled {
                cursor: not-allowed;
                border-color: $light-grey-disabled;
                color: $light-grey-disabled;
                background: $white;

                & ~ label {
                    color: $light-grey-disabled;
                }

                & ~ .nlsg-c-form-group__helper-text{
                    color: $light-grey-disabled;
                }
            }

            &.inValid {
                border-color: $warning-red!important;
            }

            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: $light-grey;
                opacity: 1; /* Firefox */
              }
              
            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: $light-grey;
            }
            
            &::-ms-input-placeholder { /* Microsoft Edge */
            color: $light-grey;
            }

        }
        &__helper-text {
            order: 3;
            font-family: $text-regular;
            font-size: 14px !important;
            margin-top: 3px;
            color: $light-grey;
            letter-spacing: 0.2px;
            display: block;
            width: 100% !important;
            &::before {
                font-size: 1rem;
                margin-right: 0.3125rem;
                display: flex;
                align-self: center;
            }
        }
        
        .valid {
            border-color: $tertiary !important;
        }
        .inValid {
            border-color: $warning-red!important;
        }
    }
    
    .nlsg-u-flex-row {
        display: flex;
        flex-direction: row;
        align-items: center;

        & .nlsg-c-form-group {
            margin-right: 15px;
            margin-bottom: 0;	
        }

        .nlsg-c-form-group:last-of-type{
            margin-right: 0px !important;
        }

        &--column {
            flex-direction: column;
            align-items: flex-start;
        }


    }

    .nlsg-u-flex-order-1 {
        order: 1;
    }
    .nlsg-u-flex-order-2 {
        order: 2;
    }
    .nlsg-u-flex-order-3 {
        order: 3;
    }

    .invalid-text {
        color: $warning-red!important;
    }
    .disabled-text {
        color: $light-grey-disabled!important;
    }

    .nlsg-icon-question-circle {
        right: 9px !important;
    }

    .nlsg-c-tooltip {
        right: 4px !important;
    }

}