<div class="nlsg-c-date-input" 
    [ngClass]="{
        'margin-bottom-sm': marginBottomSm,
        'margin-bottom-md': marginBottomMd,
        'margin-bottom-lg': marginBottomLg,
        'margin-bottom-none': marginBottomNone
    }">
    <ui-form-label
            *ngIf="hasLabel" 
            [labelText]="labelText" 
            [disabled]="disabled" 
            [notValid]="notValid" 
            [tooltipText]="tooltipText" [tooltipHeadingText]="tooltipHeadingText"
            [hasHeading]="hasHeading" [hideTooltip]="hideTooltip"
        ></ui-form-label>

        <div class="nlsg-u-flex-row nlsg-u-flex-row--column">
            <div class="nlsg-u-flex-row">   
                    <div class="nlsg-c-form-group" >
                        <input  
                        type="text"
                        name="{{ labelText }}"
                        attr.aria-label="{{ arialabel }}. {{ helperText }}. Add the day here"
                        placeholder="dd"
                        maxlength="2"
                        oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                        [disabled]="disabled"
                        [ngClass]="{
                        'valid': isValid,
                        'inValid': notValid
                        }"  
                        (keyup)="numberCheckMax2($event)">
                    </div>
                    <div class="nlsg-c-form-group">
                        <input  
                        type="text"
                        attr.aria-label="{{ arialabel }}. Add the month here"
                        placeholder="mm"
                        maxlength="2"
                        oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                        [disabled]="disabled"
                        [ngClass]="{
                        'valid': isValid,
                        'inValid': notValid
                        }"  
                        (keyup)="numberCheckMax2($event)">
                    </div>
                    <div class="nlsg-c-form-group nlsg-c-form-group--year">
                        <input  
                        type="text"
                        attr.aria-label="{{ arialabel }}. Add the year here"
                        placeholder="yyyy"
                        maxlength="4"
                        oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                        name="{{ labelText }}"
                        [disabled]="disabled"
                        [ngClass]="{
                        'valid': isValid,
                        'inValid': notValid
                        }">
                    </div>         
            </div>
        </div>

    <ui-form-helper-text *ngIf="hashelperText" [helperText]="helperText" [disabled]="disabled" [notValid]="notValid" ></ui-form-helper-text>

</div>