
<table *ngIf="tableSorter"
     id="{{ tableId }}" 
     class="nlsg-c-table tablesorter"
     cellspacing="0"
     [ngClass]="{
        'margin-bottom-sm': marginBottomSm,
        'margin-bottom-md': marginBottomMd,
        'margin-bottom-lg': marginBottomLg,
        'margin-bottom-none': marginBottomNone
    }">
    <caption>{{tableCaption}}</caption>
    <thead *ngFor="let tableHeader of tableHeaders">
        <tr *ngIf="tableHeader.thHeadings">
            <th width="5%" class="checkbox" scope="col">

              <ui-checkbox
               [hasLabel]="false" 
               checkboxId="sorterCheckboxAll" 
               checkboxText=""
               [groupItemMargin]="false"
               checkboxFor="sorterCheckboxAll"
               [disabled]="false"
               [hideTooltip]="true"
               [hashelperText]="false"
               [hasChecked]="mainCheckoxChecked"
               (checkboxCheckedUpdate)="isMainChecked($event)">
              </ui-checkbox>
            </th>
            <th scope="col" class="table-headings" *ngFor="let thHeading of tableHeader.thHeadings; let i = index;" (click)="headerClicked($event, thHeading.name)">
                {{ thHeading.name }} 
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let rowData of rowDatas; let i = index;">
            <td>
            <ui-checkbox 
                [hasLabel]="false" 
                checkboxText="" 
                [hideTooltip]="true" 
                [hashelperText]="false" 
                checkboxId="{{i}}" 
                checkboxFor="{{i}}"
                [hasChecked]="currentCheck"
                (checkboxCheckedUpdate)="isCurrentChecked(i, $event)"
            ></ui-checkbox>
            </td>  
            <ng-container *ngFor="let item of rowData | keyvalue: originalOrder">
                <ng-container *ngIf="item.key === 'dropdown' || item.key === 'expandedTable';else second">
                    <!-- Dont show object -->
                </ng-container>
                
                <ng-template #second>
                    <td class="tdvalues">
                        <ng-container *ngFor="let sub of item.value | keyvalue: originalOrder">
                            <ng-container *ngFor="let subsub of sub.value | keyvalue: originalOrder">
                                <ng-container *ngIf="subsub.key === 'stacked'">
                                    <span class="stacked-title">{{subsub.value}}</span>
                                 </ng-container> 
                                <ng-container  *ngIf="subsub.key === 'tooltip'">
                                    <div class="table-tooltip">
                                        <p> {{subsub.value}}</p>
                                     </div>
                                </ng-container>  
                            </ng-container>    
                        </ng-container>  
                        <span class="value">
                            {{item.value[0]}}
                        </span>                
                    </td>
                </ng-template>    
            </ng-container>

            <td class="text-center">
                <div *ngFor="let item of rowData | keyvalue">
                    <div *ngIf="item.key === 'dropdown'">
                        <a href="javascript:;" class="more-actions-icon" (click)="toggleDropdown($event)">
                        </a>
                        <ul class="more-actions-container">
                            <li>
                                <a *ngFor="let subItem of item.value | keyvalue">
                                    {{subItem.value}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
           </td> 
        </tr>
    </tbody>
</table>

<table *ngIf="nestedTables"
    id="{{ tableId }}" 
    class="nlsg-c-table nestedtable" 
    cellspacing="0"
    [ngClass]="{
        'margin-bottom-sm': marginBottomSm,
        'margin-bottom-md': marginBottomMd,
        'margin-bottom-lg': marginBottomLg,
        'margin-bottom-none': marginBottomNone
    }">
    <caption>{{tableCaption}}</caption>
    <thead *ngFor="let tableHeader of tableHeaders">
        <tr *ngIf="tableHeader.thHeadings">
            <th width="5%" class="checkbox">
                <ui-checkbox
                [hasLabel]="false" 
                checkboxId="nestedCheckboxAll" 
                checkboxText=""
                [groupItemMargin]="false"
                checkboxFor="nestedCheckboxAll"
                [disabled]="false"
                [hideTooltip]="true"
                [hashelperText]="false"
                [hasChecked]="mainCheckoxChecked"
                (checkboxCheckedUpdate)="isMainChecked($event)">
               </ui-checkbox>
            </th>
            <th class="table-headings" *ngFor="let thHeading of tableHeader.thHeadings; let i = index;">
                {{ thHeading.name }} 
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let rowData of rowDatas; let i = index;">
            <tr>
                <td>
                    <ui-checkbox 
                    [hasLabel]="false" 
                    checkboxText="" 
                    [hideTooltip]="true" 
                    [hashelperText]="false" 
                    checkboxId="{{i}}" 
                    checkboxFor="{{i}}"
                    [hasChecked]="currentCheck"
                    (checkboxCheckedUpdate)="isCurrentChecked(i, $event)"
                    ></ui-checkbox>
                </td>  
                <ng-container *ngFor="let item of rowData | keyvalue: originalOrder">
                    <ng-container *ngIf="item.key === 'dropdown' || item.key === 'expandedTable';else second">
                        <!-- Dont show object -->
                    </ng-container>

                    <ng-template #second>
                        <td class="tdvalues">
                            <ng-container *ngFor="let sub of item.value | keyvalue: originalOrder">
                                <ng-container *ngFor="let subsub of sub.value | keyvalue: originalOrder">
                                    <ng-container *ngIf="subsub.key === 'stacked'">
                                            <span class="stacked-title">  {{subsub.value}}</span>
                                    </ng-container> 
                                    <ng-container  *ngIf="subsub.key === 'tooltip'">
                                        <div class="table-tooltip">
                                            <p> {{subsub.value}}</p>
                                         </div>
                                    </ng-container> 
                                </ng-container>    
                            </ng-container>  
                            <span class="value">
                                {{item.value[0]}}
                            </span>                
                        </td>
                    </ng-template>  
    
                </ng-container>
                <td class="text-center expand">
                    <a href="javascript:;" *ngIf="rowData.expandedTable" class="expand-table-row" (click)="toggleTable($event)"></a>
                </td>
            </tr>
            <tr class="expand-table-container hiddenTable">
                <td colspan="100%">
                    <table cellspacing="0">
                        <thead *ngFor="let ExtableHeader of rowData.expandedTable">
                            <tr *ngIf="ExtableHeader.thHeadings">
                                <th *ngFor="let ExtableHeader of ExtableHeader.thHeadings">{{ ExtableHeader.name }} </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of rowData.expandedTable; let i = index;">
                                <ng-container *ngFor="let item of row | keyvalue: originalOrder">
                                    <ng-container *ngIf="item.key === 'dropdown' || item.key === 'thHeadings' || item.key === 'expandedTable';else second">
                                        <!-- Dont show object -->
                                    </ng-container>
                                    
                                    <ng-template #second>
                                        <td class="tdvalues">
                                            <ng-container *ngFor="let sub of item.value | keyvalue: originalOrder">
                                                <ng-container *ngFor="let subsub of sub.value | keyvalue: originalOrder">
                                                    <ng-container  *ngIf="subsub.key === 'tooltip'">
                                                        <div class="table-tooltip">
                                                            <p> {{subsub.value}}</p>
                                                         </div>
                                                    </ng-container>
                                                </ng-container>    
                                            </ng-container>  
                                            <span class="value">
                                                {{item.value[0]}}
                                            </span>                
                                        </td>
                                    </ng-template>  
                                </ng-container>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>  
        </ng-container>
    </tbody>
</table>

<table *ngIf="smallTables" 
     class="nlsg-c-table small-table" 
     cellspacing="0"
     [ngClass]="{
        'margin-bottom-sm': marginBottomSm,
        'margin-bottom-md': marginBottomMd,
        'margin-bottom-lg': marginBottomLg,
        'margin-bottom-none': marginBottomNone
    }">
    <caption>{{tableCaption}}</caption>
    <thead *ngFor="let tableHeader of tableHeaders">
        <tr *ngIf="tableHeader.thHeadings">
            <th *ngFor="let tableHeading of tableHeader.thHeadings">
                {{ tableHeading.name }} 
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let rowData of rowDatas; let i = index;"> 
            <ng-container *ngFor="let item of rowData | keyvalue: originalOrder">
                <ng-container *ngIf="item.key === 'dropdown';else second">
                    <!-- Dont show object -->
                </ng-container>
                
                <ng-template #second>
                    <td class="tdvalues">
                        <ng-container *ngFor="let sub of item.value | keyvalue: originalOrder">
                            <ng-container *ngFor="let subsub of sub.value | keyvalue: originalOrder">
                                <ng-container  *ngIf="subsub.key === 'tooltip'">
                                    <div class="table-tooltip">
                                        <p> {{subsub.value}}</p>
                                     </div>
                                </ng-container>
                            </ng-container>    
                        </ng-container>  
                        <span class="value">
                            {{item.value[0]}}
                        </span>                
                    </td>
                </ng-template>  
            </ng-container>
        </tr>
    </tbody>
</table>

<table *ngIf="editableTables"
    class="nlsg-c-table editable-table" 
    cellspacing="0"
    [ngClass]="{
        'margin-bottom-sm': marginBottomSm,
        'margin-bottom-md': marginBottomMd,
        'margin-bottom-lg': marginBottomLg,
        'margin-bottom-none': marginBottomNone
    }">
    <caption>{{tableCaption}}</caption>
    <thead *ngFor="let tableHeader of tableHeaders">
        <tr *ngIf="tableHeader.thHeadings">
            <th *ngFor="let tableHeading of tableHeader.thHeadings">
                {{ tableHeading.name }} 
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let rowData of rowDatas; let i = index;"> 
            <ng-container *ngFor="let item of rowData | keyvalue: originalOrder">
                <ng-container *ngIf="item.key === 'dropdown';else second">
                    <!-- Dont show object -->
                </ng-container>
                
                <ng-template #second>
                    <td class="tdvalues">
                        <ng-container *ngFor="let sub of item.value | keyvalue: originalOrder">
                            <ng-container *ngFor="let subsub of sub.value | keyvalue: originalOrder">
                                <ng-container  *ngIf="subsub.key === 'tooltip'">
                                    <div class="table-tooltip">
                                        <p> {{subsub.value}}</p>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="subsub.key === 'input'">
                                    <input class="table-input" type="text"  attr.value="{{subsub.value}}" />
                                    </ng-container> 
                            </ng-container>       
                        </ng-container> 
                        <span class="value">
                            {{item.value[0]}}
                        </span>
                    </td> 
                </ng-template>
            </ng-container>
        </tr>
    </tbody>
</table> 