<div class="nlsg-modal-overlay" [ngClass]="{'visible': isShowModal}"></div>
<div role="dialog"
     id="{{ modalId }}"
     attr.aria-label="{{ modalHeading }}. {{modalText}}"
     aria-modal="true"       
     class="nlsg-modal"   
     [ngClass]="{'visible': isShowModal}">

    <button  aria-label="Close modal" class="nlsg-icon nlsg-icon-close nlsg-icon–-colour-brand-green nlsg-icon--size-24" (click)="closeModal()" (window:keydown.esc)="closeModal()"></button>
    <div *ngIf="hasIllustration">
        <img src="{{ modalIllustrationUrl }}" />
    </div>
    <h1>{{ modalHeading }}</h1>
    <p>{{ modalText }}</p>
    <div class="nlsg-modal--buttons">
        <ui-button [buttonText]="buttonText" [disabled]="disabled" (click)="primaryBtn()" ></ui-button>
        <ui-button [secondaryButtonText]="secondaryButtonText" secondary="true"  (click)="secondaryBtn()"></ui-button>
    </div>
</div>