@import "../nedbank-design.scss";

// Modal

.nlsg-modal-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10001 !important;
    display: none;
    opacity: 0;
    transition: all 0.5s;
        
        &.visible {
            display: block;
            opacity: 1;
        }

}

.nlsg-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 810px;
    background: $white;
    border-radius: 5px;
    z-index: 10002 !important;
    display: none;
    padding: 60px 60px 30px 60px;
    text-align: center;

        &.visible {
            display: block;
        }

        .nlsg-icon-close {
            position: absolute;
            top: 5px;
            right: 5px;
            margin: 0;
            padding: 0;
            line-height: 0;
            width: 32px;
            height: 32px;
            outline: none;
            background: transparent;
            border: none;
            border-radius: 100%;

            &:focus {
                background: $very-light-grey;   
            }
        
            &:before {
                line-height: 34px;
            }
        
        }

        h1 {
            margin-top: 15px;
            font-family: $text-regular;
            font-size: 30px;
            color: $medium-grey !important;
        
                @media screen and (max-width: 560px) {
                    font-size: 24px;
                }
    
        }
        
        p {
            margin-top: 15px;
            font-family: $text-regular;
            font-size: 20px;
            color: $medium-grey !important;
    
                @media screen and (max-width: 560px) {
                    font-size: 16px;
                }
    
        }

        img, svg {
            width: 60px;
            height: 60px;
        }

        &--buttons {
            max-width: 400px;
            margin: 23px auto 0 auto;
            display: flex;
            justify-content: space-between;
                ui-button {
                    display: inline;
                    min-width: initial;
                    margin: 0 10px;
                        @media screen and (max-width: 560px) {
                            width: 100%;
                            &:last-of-type {
                                margin-bottom: 15px;
                            }
                        }
                }
                @media screen and (max-width: 560px) {
                    flex-direction: column;
                }
        }

    @media screen and (max-width: $tablet-portrait) {
        padding: 30px 45px 23px 30px;
        width: 90%;
    }    

}