<div class="nlsg-c-form-group"    
    [ngClass]="{
    'margin-bottom-sm': marginBottomSm,
    'margin-bottom-md': marginBottomMd,
    'margin-bottom-lg': marginBottomLg,
    'margin-bottom-none': marginBottomNone
    }">
    <ui-form-label
        *ngIf="hasLabel" 
        [labelText]="labelText" 
        [disabled]="disabled" 
        [notValid]="notValid" 
        [tooltipText]="tooltipText" [tooltipHeadingText]="tooltipHeadingText"
        [hasHeading]="hasHeading" [hideTooltip]="hideTooltip"
    ></ui-form-label>

    <input *ngIf= '!searchIcon'
        type="{{ type }}"
        name="{{ name }}"
        attr.aria-label="{{ arialabel }}. {{ helperText }}"
        value="{{ defaultValue }}"
        currencySymbol="currencySymbol"
        placeholder="{{ placeholderText }}"
        [disabled]="disabled"
        [ngClass]="{
        'valid': isValid,
        'inValid': notValid,
        'searchIcon': searchIcon,
        'currencyInput': currencyInput, 
        'has-label': hasLabel
        }" 
        (keyup)="inputChanged($event)"
    >

    <input *ngIf= 'searchIcon'  
        type="{{ type }}"
        name="{{ name }}"
        role="search"
        attr.aria-label="{{ arialabel }}. {{ helperText }}"
        value="{{ defaultValue }}"
        currencySymbol="currencySymbol"
        placeholder="{{ placeholderText }}"
        [disabled]="disabled"
        [ngClass]="{
        'valid': isValid,
        'inValid': notValid,
        'searchIcon': searchIcon,
        'currencyInput': currencyInput, 
        'has-label': hasLabel
        }" 
        (keyup)="inputChanged($event)"
    >

    <span class="password-icon nlsg-icon nlsg-icon-eye nlsg-icon--size-24" [ngClass]="{'no-label': !hasLabel}" (click)="togglePasswordIcon($event)"></span>
    <span class="search-icon nlsg-icon nlsg-icon-search nlsg-icon--size-24" [ngClass]="{'no-label': !hasLabel}" (click)="toggleSearchIcon($event)"></span>
    <span class="currency-symbol" [ngClass]="{'no-label': !hasLabel}">{{ currencySymbol }}</span>

    <ui-form-helper-text 
    *ngIf="hashelperText" 
    [helperText]="helperText" 
    [disabled]="disabled" 
    [notValid]="notValid">
    </ui-form-helper-text>

</div> 
 

