@import "../nedbank-design.scss";

	/* ------------------------
	------- Inputs ------------
    ------------------------ */

    .nlsg-c-form-group {
        position: relative;
        width: 100%;
        max-width: 390px;
        @include component-default-margin;
        
        & input {
            width: 100%;
            max-width: 390px;
            height: 3.25rem;
            font-size: 1rem;
            font-weight: 100;
            padding: 0 10px;
            color: $dark-grey;
            border: 2px solid $light-grey;
            transition: border-color 0.25s;
                &:-webkit-autofill,
                &:-webkit-autofill:hover, 
                &:-webkit-autofill:focus, 
                &:-webkit-autofill:active  {
                -webkit-box-shadow: 0 0 0 30px white inset !important;
                box-shadow: 0 0 0 30px white inset !important;
                }

            &[type="password"] {
                & ~ .password-icon {
                    position: absolute;
                    display: block;
                    right: 15px;
                    color: $light-grey;
                }
            }

            &.searchIcon {
                & ~  .search-icon {
                    display: block;
                    position: absolute;
                    top: 39px;
                    color: $light-grey;
                    width: 24px;
                    height: 24px; 
                    right: 12px;  
                    padding-left: 2px;
                    background: $white;
                }  
            }
    
            &:focus {
                border-color: $primary;
                outline: none;
            }
    
            &::-webkit-input-placeholder {
                color: $light-grey;
            }
            &:disabled {
                cursor: not-allowed;
                border-color: $light-grey-disabled;
                color: $light-grey-disabled;
                background: $white;

                & ~ label {
                    color: $light-grey-disabled;
                }

                & ~ .nlsg-c-form-group__helper-text{
                    color: $light-grey-disabled;
                }
            }

            &.inValid {
                border-color: $warning-red!important;

                & ~ label {
                     color: $warning-red!important;
                }

                & ~ .nlsg-c-form-group__helper-text{
                     color: $warning-red!important;
                }
            }

            &.currencyInput {
                padding-left: 26px;
            }

            &::-webkit-input-placeholder { /* Edge */
            letter-spacing: 0.3px;
            }
            
            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            letter-spacing: 0.3px;
            }
            
            &::placeholder {
            letter-spacing: 0.3px;
            }
        }
        
        .valid {
            border-color: $tertiary !important;
        }
        .inValid {
            border-color: $warning-red!important;
        }
        .password-icon {
            display: none;
            position: absolute;
            top: 37px;
            color: $light-grey;
            width: 20px;
            height: 20px; 
            right: 15px;

            &.no-label {
                top: 16px;
            }

        }
        .search-icon {
            display: none;
            position: absolute;
            top: 39px;
            color: $light-grey;
            width: 24px;
            height: 24px; 
            right: 12px;  
            padding-left: 2px;
            background: $white;

            &.no-label {
                top: 16px !important;
            }
        }

        .currency-symbol {
            font-family: $text-regular;
            display: block;
            position: absolute;
            top: 39px;
            color: $dark-grey;
            width: 24px;
            height: 24px;
            left: 10px;

            &.no-label {
                top: 17px;
            }
        }
    }
    
    .nlsg-u-flex-row {
        display: flex;
        flex-direction: row;

        & .nlsg-c-form-group {
            margin-right: 15px;
        }

        &--column {
            flex-direction: column;
        }
    }

    .nlsg-icon-question-circle {
        position: absolute;
        right: 4px;
    }
