@import "../nedbank-design.scss";

// Card
.nlsg-c-card {
    padding: 15px;
    max-width: 285px;
    display: inline-block;
    transition: all 0.25s;
    margin: 0 26px 30px 0;
    @include component-default-margin;
    
        @media screen and (max-width: $tablet-portrait) {
        border-top: 1px solid $very-light-grey;
        max-width: 100%;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    
            &:last-of-type {
            border-bottom: 1px solid $very-light-grey;
            }
    
        }
    
        .nlsg-icon-after-tailarrow-right:after {
        transition: all 0.25s;
        }

        &:focus-within {
            background: $almost-white;
            cursor: pointer;
    
            .icon {
            color: $secondary;
            }

            &:host {    
                    a:after {
                        margin-left: 12px;
                }
            }
        }

        & h6 a:focus {
            text-decoration: underline;
        }
        
        & h6:focus-within ~ .cta {
            font-family: $text-medium;
            color: $primary;
        }
            
        &:focus-within h6 a:focus {
            text-decoration: none;
            outline: none;
        }
    
    
        &:hover {
        background: $almost-white;
        cursor: pointer;
    
            .icon {
            color: $secondary;
            }

            &:host {    
                 a:after {
                     margin-left: 12px;
                }
            }
        }
    
        img {
        width: 60px;
        height: 60px;
            
            @media screen and (max-width: $tablet-portrait) {
            width: 40px;
            height: 40px;
            margin-right: 15px;
            align-self: flex-start;
            }
    
        }// img ends
    
        .nlsg-c-card__inner {
        margin-top: 8px;
        padding-right: 10px;
            
            @media screen and (max-width: $tablet-portrait) {
            margin-top: 0;
            }

            h6 {
                margin: 0 0 5px 0;
                a {
                    font-family: $text-regular;
                    font-size: 20px;
                    color: $dark-grey;
                    text-decoration: none;
                        
                        @media screen and (max-width: $tablet-portrait) {
                        font-family: $text-regular;
                        font-size: 16px;
                        }  
                }


            }
        
            p {
            font-family: $text-regular;
            color: $medium-grey;
    
                @media screen and (max-width: $tablet-portrait) {
                margin-bottom: 0px;
                font-size: 14px;
                margin-top: -1px;
                }
    
            }
    
            .cta {
                font-family: $text-medium;
                font-size: 16px;
                text-decoration: none;
                color: $secondary;
                margin-top: 20px;
                display: block;

                @media screen and (max-width: $tablet-portrait) {
                display: none;
                }
    
            }

        }// nlsg-c-card__inner ends
    
        .icon {
        display: none;
        font-family: "nlsg-icons" !important;
        @extend .nlsg-icon-arrow-right;
        @extend .nlsg-icon--size-24;
        color: $light-grey;
        transition: color 0.25s;
    
            @media screen and (max-width: $tablet-portrait) {
            display: block;
            margin-left: auto;
            }
        
        }// icon ends

}// nlsg-c-card ends