<ul>
    <li class="nlsg-c-card"  
        [ngClass]="{
        'margin-bottom-sm': marginBottomSm,
        'margin-bottom-md': marginBottomMd,
        'margin-bottom-lg': marginBottomLg,
        'margin-bottom-none': marginBottomNone
        }" *ngFor="let card of cards; let index = index"
        >
        <img src="{{ card.cardImageUrl }}" class="nlsg-c-card__image" *ngIf="card.hasCardImage">
        <div class="nlsg-c-card__inner">
            <h6> 
                <a href="{{ card.linkURL }}" attr.aria-label="{{ card.cardHeading }}.  {{ card.cardBodyText }}. {{ card.linkText }}"> {{ card.cardHeading }}</a>
            </h6>
            <p>{{ card.cardBodyText }}</p>
            <a href="javascript:void(0)" class="cta" aria-hidden="true" (click)="checkLink(card.linkText)">{{ card.linkText }}</a>
        </div>
        <span class="icon"></span>
    </li>
</ul>

