@import "../nedbank-design.scss";
// Spinner
$offset: 260;
$duration: 1.4s;
.nlsg-c-spinner-wrapper {
    position: relative;
    max-width: 75px;
    max-height: 75px;
    margin: auto;
    @include component-default-margin;
    @include component-default-margin-top;
    &__icon {
        position: absolute;
        stroke: none;
        fill: none;
        fill-rule: evenodd;
        stroke-width: 2;
        width: 36px;
        height: 36px;
        text-align: center;
        left: 50%;
        margin-left: -17px;
        top: 50%;
        margin-top: -15px;
        .nlsg-icon--colour-white {
            i {
                @extend .nlsg-icon--colour-white;
            }
        }
    }
    &__spinner {
        width: 75px;
        height: 75px;
        animation: rotate $duration linear infinite;
        -webkit-animation: rotate $duration linear infinite;
        -moz-animation: rotate $duration linear infinite;
        -o-animation: rotate $duration linear infinite;
        stroke-width: 2;
        &__path {
            stroke-dasharray: $offset;
            stroke-dashoffset: 0;
            fill: none;
            stroke-linecap: round;
            -webkit-transform-origin: 2.375rem 2.375rem;
            -moz-transform-origin: 2.375rem 2.375rem;
            -o-transform-origin: 2.375rem 2.375rem;
            transform-origin: 2.375rem 2.375rem;
            &--green {
                animation:
                dash $duration ease-in-out infinite,
                green-animation ($duration) ease-in-out infinite;
                -webkit-animation:
                 dash $duration ease-in-out infinite,
                green-animation ($duration) ease-in-out infinite;
                -moz-animation:
                 dash $duration ease-in-out infinite,
                green-animation ($duration) ease-in-out infinite;
                -o-animation:
                 dash $duration ease-in-out infinite,
                green-animation ($duration) ease-in-out infinite;
            }
            &--white {
                animation:
                dash $duration ease-in-out infinite,
                white-animation ($duration) ease-in-out infinite;
                -webkit-animation:
                 dash $duration ease-in-out infinite,
                white-animation ($duration) ease-in-out infinite;
                -moz-animation:
                 dash $duration ease-in-out infinite,
                white-animation ($duration) ease-in-out infinite;
                -o-animation:
                 dash $duration ease-in-out infinite,
                white-animation ($duration) ease-in-out infinite;
            }
        }
    }
    @-webkit-keyframes green-animation {
        0% { stroke: $secondary; }
        100% { stroke: $secondary; }
    }
    @-moz-keyframes green-animation {
        0% { stroke: $secondary; }
        100% { stroke: $secondary; }
    }
    @-o-keyframes green-animation {
        0% { stroke: $secondary; }
        100% { stroke: $secondary; }
    }
    @keyframes green-animation {
        0% { stroke: $secondary; }
        100% { stroke: $secondary; }
    }
    @-webkit-keyframes white-animation {
        0% { stroke: $white; }
        100% { stroke: $white; }
    }
    @-moz-keyframes white-animation {
        0% { stroke: $white; }
        100% { stroke: $white; }
    }
    @-o-keyframes white-animation {
        0% { stroke: $white; }
        100% { stroke: $white; }
    }
    @keyframes white-animation {
        0% { stroke: $white; }
        100% { stroke: $white; }
    }
    @-webkit-keyframes rotate{
        0% { transform: rotate(0deg); }
        100% { transform: rotate(270deg); }
    }
    @-moz-keyframes rotate{
        0% { transform: rotate(0deg); }
        100% { transform: rotate(270deg); }
    }
    @-o-keyframes rotate{
        0% { transform: rotate(0deg); }
        100% { transform: rotate(270deg); }
    }
    @keyframes rotate {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(270deg); }
    }
    @-webkit-keyframes dash{
        0% { stroke-dashoffset: $offset; }
        50% {
            stroke-dashoffset: $offset/4;
            transform:rotate(135deg);
        }
        100% {
            stroke-dashoffset: $offset;
            transform:rotate(450deg);
        }
    }
    @-moz-keyframes dash{
        0% { stroke-dashoffset: $offset; }
        50% {
            stroke-dashoffset: $offset/4;
            transform:rotate(135deg);
        }
        100% {
            stroke-dashoffset: $offset;
            transform:rotate(450deg);
        }
    }
    @-o-keyframes dash{
        0% { stroke-dashoffset: $offset; }
        50% {
            stroke-dashoffset: $offset/4;
            transform:rotate(135deg);
        }
        100% {
            stroke-dashoffset: $offset;
            transform:rotate(450deg);
        }
    }
    @keyframes dash {
        0% { stroke-dashoffset: $offset; }
        50% {
            stroke-dashoffset: $offset/4;
            transform:rotate(135deg);
        }
        100% {
            stroke-dashoffset: $offset;
            transform:rotate(450deg);
        }
    }
}
.ie {
    display: none;
}
// IE and Edge overrides
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .ie {
        display: block;
        text-align: center;
        position: relative;
    }
    .nlsg-c-spinner-wrapper__spinner {
        display: none;
    }
    .nlsg-c-spinner-wrapper {
        height: auto !important;
    }
    .hidden-ie {
        display: none;
    }
    .ie-lock-icon {
        position: absolute;
        left: 60px;
        top: 30px;
        padding: 1rem;
        stroke: none;
        fill: none;
        fill-rule: evenodd;
        stroke-width: 2;
    }
 }
 @supports (-ms-ime-align: auto) {
    .ie {
        display: block;
        text-align: center;
        position: relative;
    }
    .nlsg-c-spinner-wrapper__spinner {
        display: none;
    }
    .nlsg-c-spinner-wrapper {
        height: auto !important;
    }
    .hidden-ie {
        display: none;
    }
    .ie-lock-icon {
        position: absolute;
        left: 50%;
        margin-left: -29px;
        top: 30px;
        height: 2rem;
        padding: 1rem;
        stroke: none;
        fill: none;
        fill-rule: evenodd;
        stroke-width: 2;
    }
}

.sr-only {
    position: absolute;
    left:-99999px;
    height: 1px;
    width: 1px;
    overflow: hidden;
}