<section class="nlsg-c-spinner-wrapper"
        [ngClass]="{
            'margin-bottom-sm': marginBottomSm,
            'margin-bottom-md': marginBottomMd,
            'margin-bottom-lg': marginBottomLg,
            'margin-bottom-none': marginBottomNone
        }">
    <!-- Lock icon -->
    <!-- <div 
        *ngIf="hasLockIcon" 
        class="nlsg-c-spinner-wrapper__lock-icon hidden-ie"
        [ngClass]="{
            'nlsg-c-spinner-wrapper__lock-icon--green': !whiteSpinner, 
            'nlsg-c-spinner-wrapper__lock-icon--white': whiteSpinner
        }">
    </div> -->

    <div *ngIf="hasIcon" class="nlsg-c-spinner-wrapper__icon hidden-ie">
        <ui-icon [iconName]="iconName" [iconSize]="iconSize" [iconColor]="iconColor" [ngClass]="{'nlsg-icon--colour-white': whiteSpinner}"></ui-icon>
    </div>

    <!-- Spinner circle -->
    <svg class="nlsg-c-spinner-wrapper__spinner" viewBox="0 0 78 78" xmlns="http://www.w3.org/2000/svg">
        <g transform="translate(1.000000, 1.000000)">
            <circle 
                class="nlsg-c-spinner-wrapper__spinner__path"
                [ngClass]="{
                    'nlsg-c-spinner-wrapper__spinner__path--green': !whiteSpinner, 
                    'nlsg-c-spinner-wrapper__spinner__path--white': whiteSpinner
                }"
                cx="38" cy="38" r="36">
            </circle>
        </g>
    </svg>
</section>

<div tabindex="0" class="sr-only" aria-live="polite">Loading</div>