<div class="nlsg-c-hyperlink" 
    [ngClass]="{
        'margin-bottom-sm': marginBottomSm,
        'margin-bottom-md': marginBottomMd,
        'margin-bottom-lg': marginBottomLg,
        'margin-bottom-none': marginBottomNone
    }">
    <a href="{{ linkUrl }}" class="{{ iconName }}" >{{ linkText }}</a>
    <ui-tooltip [tooltipText]="tooltipText" [tooltipHeadingText]="tooltipHeadingText" [hasHeading]="hasHeading" [hideTooltip]="hideTooltip" [topCenter]="true"></ui-tooltip>
</div>
