@import "../nedbank-design.scss";

.nlsg-c-hyperlink {
	display: inline-block;
	position: relative;
	@include component-default-margin;

	a {
		color: $secondary;
		transition: 0.3s;
		text-decoration: none;
		font-family: $text-medium;

		&:before,&:after {
			position: relative;
			@extend .nlsg-icon--size-24;
			@extend .nlsg-icon--colour-grass-green;
		}
		&:before {
			margin-right: 0.5rem;
			transition: 0.3s;
		}
		&:after {
			margin-left: 0.5rem;
			transition: 0.3s;
		}

		&:hover,
		&.hover {
			color: $primary-hover !important; 

			&:before,&:after {
				position: relative;
				@extend .nlsg-icon--size-24;
				color: $primary-hover !important; 
			}

		}

		&:visited,
		&.visited {
			color: $tertiary;

			&:before,&:after {
				color: $tertiary;
			}

		}
		&.nlsg-c-button {
			padding: 0.8rem 0;
		}
	}

	.topCenter {
		bottom: 25px !important;
		width: 130% !important;
		left: 50% !important;
		margin-left: -65% !important;

			&:after {
				position: absolute !important;
				height: 20px !important;
				width: 20px !important;
				top: 100% !important;
				left: 50% !important;
				margin-left: -10px !important;
			}

	}
	
	&:hover {
		.nlsg-c-tooltip {
			opacity: 1;
		}
	}

}