<ul style="margin-bottom: 50px;">
    <li *ngFor="let item of mockData | paginate: paginationSettings;" 
    style="display: block;
    border: 1px solid #dedede;
    padding: 10px;
    margin: 5px;
    text-align: left;
    font-family:Arial, Helvetica, sans-serif;">
    {{ item.content }}
    </li>
</ul>