@import "../nedbank-design.scss";

.nlsg-c-range-slider {
  font-family: $text-regular;
  width: 390px;

  label {
    font-size: 0.875rem;
    font-weight: 200;
    display: block;
    max-width: 390px;
    width: 100%; 
  }

  @media screen and (max-width: $smartphone) {
    width: 100%;
  }   
}

.rs-range {
   font-family: $text-regular;
    margin-top: 15px;
    width: 390px;
    height: 6px;
    -webkit-appearance: none;
    background: $light-grey;

    @supports (-ms-ime-align:auto) {
      height: 60px; 
      margin-top: 10px;
    }

    @media screen and (max-width: $smartphone) {
      width: 100%;
    }    

    &:focus {
        outline: none;
    }
    //Track styling
    &::-webkit-slider-runnable-track {
        width: 100%;
        height: 6px;
        cursor: pointer;
        box-shadow: none;
        border-radius: 0px;
    }
    &::-moz-range-track {
        width: 100%;
        height: 6px;
        cursor: pointer;
        box-shadow: none;
        border-radius: 0px;
    }
    &::-ms-track {
      border-radius: 8px;
      height: 6px;
    }
    &::-ms-fill-lower {
      background: $tertiary;
    }
    &::-ms-fill-upper {
      background: $light-grey;
    }
    &::-ms-thumb {
      -webkit-appearance: none;
      width: 30px;
      height: 30px;
      border: 4px solid $tertiary;
      border-radius: 50%;
      background: $white;
      box-shadow: 0px 0px 0px 1px $white;
      cursor: pointer;
      margin-top: -14px;
      transition: background .15s ease-in-out;
    }

    //Thumb styling
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 30px;
      height: 30px;
      border: 4px solid $tertiary;
      border-radius: 50%;
      background: $white;
      box-shadow: 0px 0px 0px 1px $white;
      cursor: pointer;
      margin-top: -14px;
      transition: background .15s ease-in-out;

      @supports (-ms-ime-align:auto) {
        margin-top: -1px; 
      }
    }
    &::-moz-range-thumb{
      -webkit-appearance: none;
      width: 30px;
      height: 30px;
      border: 4px solid $tertiary;
      border-radius: 50%;
      background: $white;
      box-shadow: 0px 0px 0px 1px $white;
      cursor: pointer;
      margin-top: -14px;
      transition: background .15s ease-in-out;
    }
    &::-moz-focus-outer {
      border: 0;
    }
}
.rs-label {
    position: relative;
    font-family: $text-regular;
    transform-origin: center center;
    display: block;
    width: 50px;
    height: 37px;
    background: transparent;
    text-align: center;
    box-sizing: border-box;
    color: $dark-grey;
    line-height: 40px;
    font-size: 1.125rem;
    
    @supports (-ms-ime-align:auto) {
      margin-bottom: -14px;
    }
}
.box-minmax{
  font-family: $text-regular;
  margin-top: 20px;
  width: 390px;
  display: flex;
  justify-content: space-between;
  color: $medium-grey;
  font-size: 0.875rem;
  @include component-default-margin;

  @supports (-ms-ime-align:auto) {
    margin-top: -5px;
  }

  @media screen and (max-width: $smartphone) {
    width: 100%;
  }   
}
