<div id="wrapper" class="nlsg-c-range-slider"
    [ngClass]="{
    'margin-bottom-sm': marginBottomSm,
    'margin-bottom-md': marginBottomMd,
    'margin-bottom-lg': marginBottomLg,
    'margin-bottom-none': marginBottomNone
    }">
    <ui-form-label
    [labelText]="labelText" 
    [disabled]="disabled" 
    [notValid]="notValid" 
    [tooltipText]="tooltipText" [tooltipHeadingText]="tooltipHeadingText"
    [hasHeading]="hasHeading" [hideTooltip]="hideTooltip"
    *ngIf="hasLabel" 
></ui-form-label>

    <span id="rs-bullet" class="rs-label">R{{ defaultValue }}</span>
    <input role="slider" attr.aria-label="{{ arialabel }}. Minimum is {{min}}. Maximum is {{max}}" tabindex="0" id="rs-range-line" class="rs-range" type="range" min="{{min}}" max="{{max}}" (click)="getValue()">
</div>


<div class="box-minmax">
    <span>Min R{{min}}</span><span>Max R{{max}}</span>
</div>