<div class="nlsg-c-form-group" 
    [ngClass]="{
        'margin-bottom-sm': marginBottomSm,
        'margin-bottom-md': marginBottomMd,
        'margin-bottom-lg': marginBottomLg,
        'margin-bottom-none': marginBottomNone
    }">
    
    <div class="nlsg-file-upload">

        <!-- <label [ngClass]="{ error: hasError && !multiUpload }">{{ label }}</label> -->
        <ui-form-label
            *ngIf="hasLabel" 
            [labelText]="labelText" 
            [tooltipText]="tooltipText" [tooltipHeadingText]="tooltipHeadingText"
            [hasHeading]="hasHeading" [hideTooltip]="hideTooltip"
        ></ui-form-label>
    
        <input  type="file" #fileUpload id="fileUpload" name="fileUpload" accept="{{ fileFormats }}" [attr.multiple]="multiUpload ? multiUpload : null" />

        <!--Single upload-field-->
        <div class="upload-field" *ngIf="!multiUpload" [ngClass]="{ error: hasError }">
            <span class="placeholder-text" *ngIf="files.length === 0">No file uploaded</span>
            <ul class="uploaded-files">
                <li *ngFor="let file of files; let index = index">
                    <span class="file-name" [ngClass]="{'file-name-error': file.data.size / (1024*1024) > fileSizeLimit}">
                        {{ file.data.name | truncate }} ({{ file.data.size / (1024*1024) | number : '1.2-2' }} MB)
                    </span>

                    <div class="sr-only" aria-live="polite"> {{ file.data.name | truncate }} ({{ file.data.size / (1024*1024) | number : '1.2-2' }} MB. Your file is {{ file.progress }}% completed</div>

                    <div class="progress-bar-container" *ngIf="file.data.size / (1024*1024) < fileSizeLimit">
                    <div class="progress-bar">
                            <span [ngStyle]="{width: file.progress + '%'}"
                            ></span>
                        </div>
                    </div>
                    <span class="progress-percentage"  *ngIf="file.data.size / (1024*1024) < fileSizeLimit">{{ file.progress }}%</span>

                    <span attr.aria-label="Delete file. {{ file.data.name }}" tabindex="0" class="delete-file" (click)="removeSelectedFile(index)">
                        <span class="nlsg-icon-close-circle nlsg-icon--size-16"></span>
                    </span>
                </li>
            </ul>
            <a aria-label="Upload file" href="javascript:void(0)" (click)="onClick()" [hidden]="files.length > 0">Upload</a>
        </div><!--Single upload-field ends-->

        <!--Multiple upload-field-->
        <div class="multiple-upload-container">
            <div class="upload-field" *ngIf="multiUpload">
                <span aria-label="No files uploaded" class="placeholder-text" *ngIf="files.length == 0">No files uploaded</span>
                <span attr.aria-label="Files ({{ files.length }})" class="placeholder-text" *ngIf="files.length > 0">Files ({{ files.length }})</span>
                <a aria-label="Upload files" href="javascript:void(0)" (click)="onClick()">Upload</a>
            </div><!--Multiple upload-field ends-->
            <ul class="uploaded-files multiple" *ngIf="multiUpload">
                <li *ngFor="let file of files; let index = index">
                    <span class="file-name" [ngClass]="{'file-name-error-multi': file.data.size / (1024*1024) > fileSizeLimit}">
                        {{ file.data.name | truncate }} ({{ file.data.size / (1024*1024) | number : '1.2-2' }} MB)
                        
                        <span aria-label="Couldn’t upload: Exceeds maximum file size." class="upload-error-message" *ngIf="file.data.size / (1024*1024) > fileSizeLimit">Couldn’t upload: Exceeds maximum file size.</span>

                        <div class="sr-only" aria-live="polite">  {{ file.data.name | truncate }} ({{ file.data.size / (1024*1024) | number : '1.2-2' }} MB). Your file is {{ file.progress }}% completed

                            <span class="sr-only" aria-live="assertive" *ngIf="file.data.size / (1024*1024) > fileSizeLimit">Couldn’t upload: Exceeds maximum file size.</span>
                        </div>
                    </span>
                    <div class="progress-bar-container" *ngIf="file.data.size / (1024*1024) < fileSizeLimit">
                        <div class="progress-bar">
                                <span [ngStyle]="{width: file.progress + '%'}"
                                ></span>
                            </div>
                        </div>
                        <span class="progress-percentage"  *ngIf="file.data.size / (1024*1024) < fileSizeLimit">{{ file.progress }}%</span>
                    <span attr.aria-label="Delete file. {{ file.data.name }}" tabindex="0" class="delete-file" (click)="removeSelectedFile(index)">
                        <span class="nlsg-icon-close-circle nlsg-icon--size-16"></span>
                    </span>
                </li>
            </ul>
        </div><!--multiple-upload-container ends-->

        <p class="nlsg-c-form-group__helper-text" *ngIf="hashelperText && !hasError">{{ helperText }} {{fileFormats}}</p>
        <p class="nlsg-c-form-group__helper-text" *ngIf="hashelperText && hasError" [ngClass]="{ error: hasError && !multiUpload }">{{ helperTextErrorMessage }}</p>

    </div><!--nlsg-file-upload ends-->

</div><!--nlsg-c-form-group ends-->