@import "../nedbank-design.scss";

.nlsg-file-upload {
    font-family: $text-regular;
    width: 100%;
    max-width: 390px;
    @include component-default-margin;

    label {
        &.error {
            color: $warning-red;
        }
    }

    input[type=file] {
        display: none;
    }

    .upload-field {
        width: 100%;
        max-width: 390px;
        height: 3.25rem;
        font-size: 1rem;
        font-weight: 100;
        color: $dark-grey;
        border-top: 1px solid $light-grey;
        border-bottom: 1px solid $light-grey;
        transition: border-color 0.25s;
        border-left: 0px;
        border-right: 0px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &.error {
            border-top: 1px solid $warning-red;
            border-bottom: 1px solid $warning-red;
        }

            .placeholder-text {
                color: $light-grey;
                width: 100%;
                &.single-placeholder-text {
                    color: $light-grey;
                }
            }

            a {
                color: $secondary;
                cursor: pointer;
                padding-right: 10px;
                transition: all 0.25s;
                text-decoration: none;
                &:hover {
                    color: $primary;
                }
                &:focus {
                    color: $primary;
                }
                &:before {
                    position: relative;
                    font-family: "nlsg-icons";
                    top: 2px;
                    left: 0;
                    margin-right: 5px;
                    @extend .nlsg-icon-upload;
                    @extend .nlsg-icon--size-16;
                }
        }

    }

    .uploaded-files {
        font-size: 12px;
        color: $medium-grey;
        width: 100%;

            &.multiple {
                li:last-of-type{
                    border-bottom: 1px solid $light-grey;
                }
            }

        li {
        display: flex;
        align-items: center;
        list-style-type: none;
        width: 100%;
        padding: 10px 0px;

            .file-name {
                width: 60%;
                &:before {
                    position: relative;
                    font-family: "nlsg-icons";
                    top: 2px;
                    left: 0;
                    margin-right: 5px;
                    @extend .nlsg-icon-form-check;
                    @extend .nlsg-icon--size-16;
                }
                &.file-name-error {
                    width: 90%;
                    
                    .upload-error-message {
                        color: $warning-red;
                        font-size: 10px;
                        margin-left: 24px;
                        display: block;
                    }

                }

                &.file-name-error-multi {
                    width: 90%;
                    color: $warning-red;
                    .upload-error-message {
                        color: $warning-red;
                        font-size: 10px;
                        margin-left: 24px;
                        display: block;
                    }

                }

                
            }

            .progress-bar-container {
                text-align: center;
                width: 20%;
                display: flex;
                align-items: center;
    
                .progress-bar {
                    position: relative;
                    background: $very-light-grey;
                    width: 50px;
                    height: 2px;
                    display: inline-block;
        
                    span {
                        display: inline-block;
                        border: 1px solid $secondary;
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        height: 2px;
                    }
                }
            }

            .progress-percentage {
                width: 20%;
                text-align: center;
            }

            .delete-file {
                width: 10%;
                text-align: center;
                display: flex;
                align-items: center;
                padding-top: 4px;

                .nlsg-icon-close-circle {
                    cursor: pointer;
                    margin: 0 auto;
                    transition: all 0.25s;

                    &:hover {
                        color: $warning-red;
                    }

                }
            }

        }
        
    }

    .nlsg-c-form-group__helper-text {
        order: 3;
        font-family: $text-regular;
        font-size: 0.875rem;
        margin-top: 3px;
        @include component-default-margin;
        color: $light-grey;
        letter-spacing: 0.2px;
        display: block;
        width: 100% !important;

        &.error {
            color: $warning-red;
        }
    }

    

}

.sr-only {
    position: absolute;
    left:-99999px;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
