@import "../nedbank-design.scss";

    /* --------------------------
    ------- Switch Field --------
    -------------------------- */
    .nlsg-c-switch-field {
        max-width: 390px;
        outline: none;
        width: 390px;
        height: 50px;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        justify-content: space-around;
        @include component-default-margin;

        @media screen and (max-width: $tablet-portrait) {
            flex-direction: column;
            height: auto;
        }

        &--unselected {
            label {
                &:hover {
                    background-color: $tertiary;
                    color: $white;
                }
                &:focus {
                    background-color: $tertiary !important;
                    color: $white;
                }
            }
        }

        &__switch-label {
            display: inline-block;
            width: 50%;
            background-color: $white;
            color: $tertiary;
            height: 50px;
            line-height: 50px;
            text-align: center;
            border: 2px solid $tertiary;
            transition: background-color 0.1s ease-in-out;
            font-size: 1rem;
            &:hover {
                cursor: pointer;
            }

            @media screen and (max-width: $tablet-portrait) {
                margin: 0px;
                width: 100%;
            }

            &:first-of-type {
                border-radius: 4px 0 0 4px;

                @media screen and (max-width: $tablet-portrait) {
                    border-radius: 4px 4px 0 0;
                }
            }
            
            &:nth-of-type(2) {
                border-right:0;
                border-left:0;

                @media screen and (max-width: $tablet-portrait) {
                    border-top: none;
                    border-bottom: none;
                    border-right: 2px solid $tertiary;
                    border-left: 2px solid $tertiary;
                }

            }
            
            &:last-of-type {
                border-radius: 0 4px 4px 0;
                border-right: 2px solid $tertiary;
                
                @media screen and (max-width: $tablet-portrait) {
                    border-radius: 0 0 4px 4px;
                }
            }
            &:focus {
                background-color: $tertiary !important;
                color: $white;
                outline: none;
            }
        }
        &__switch-input {
            position: absolute !important;
            clip: rect(0, 0, 0, 0);
            &:disabled + label,
            &[disabled] + label {
                background: $white;
                border: 2px solid rgba( $tertiary, 0.5 );
                cursor: not-allowed;
                color: rgba( $tertiary, 0.5 );  
                &:nth-of-type(2) {
                    border-left:0;
                }
                &:last-of-type {
                    border-radius: 0 4px 4px 0;
                    border-left: 0px solid $tertiary;
                }                
            }
            &:disabled:checked + label,
            &[disabled][checked] + label {
                background: rgba( $tertiary, 0.5 );
            }
            &:checked + label {
                background-color: $tertiary;
                color: $white;
                border: none;
                outline: none;
                padding: 2px;
            }
        }
    }
