
<ui-form-label
[labelText]="labelText" 
[disabled]="disabled" 
[notValid]="notValid" 
[tooltipText]="tooltipText" [tooltipHeadingText]="tooltipHeadingText"
[hasHeading]="hasHeading" [hideTooltip]="hideTooltip"
*ngIf="hasLabel">
</ui-form-label>  
<div tabindex="0" class="nlsg-c-switch-field nlsg-c-switch-field--unselected"
     aria-label="Switch field selected. Press tab. Then use shift and the directional arrows to move left or right"  
     [ngClass]="{
        'margin-bottom-sm': marginBottomSm,
        'margin-bottom-md': marginBottomMd,
        'margin-bottom-lg': marginBottomLg,
        'margin-bottom-none': marginBottomNone
    }">
    <input class="nlsg-c-switch-field__switch-input" type="radio" id="switch_left_multi_2" name="switch_1_multi_2" value="Left" [checked]="leftChecked" (click)="switchValueCheck($event)"/>
    <label class="nlsg-c-switch-field__switch-label" for="switch_left_multi_2">{{ leftText }}</label>

    <input *ngIf="middleSwitch" class="nlsg-c-switch-field__switch-input" type="radio" id="switch_middle_multi_2" name="switch_1_multi_2" value="Middle" [checked]="middleChecked" (click)="switchValueCheck($event)"/>
    <label *ngIf="middleSwitch" class="nlsg-c-switch-field__switch-label" for="switch_middle_multi_2">{{ middleText }}</label>

    <input class="nlsg-c-switch-field__switch-input" type="radio" id="switch_right_multi_2" name="switch_1_multi_2" value="Right" [checked]="rightChecked" (click)="switchValueCheck($event)"/>
    <label class="nlsg-c-switch-field__switch-label" for="switch_right_multi_2">{{ rightText }}</label>

</div>
<ui-form-helper-text *ngIf="hashelperText" [helperText]="helperText" [disabled]="disabled" [notValid]="notValid" ></ui-form-helper-text>
