@import "../nedbank-design.scss";

	/* --------------------------
	------- Radio Button --------
	-------------------------- */
	.radio-group {
		@include component-default-margin;

		.label {
            color: $dark-grey;
            font-family: $text-regular;
            font-size: 0.875rem;
            font-weight: 200;
            display: block;
            margin-bottom: 15px;
		}
		
		@media (min-width: 768px) {
			padding: 0rem;	
		}

		&__radio {

			&__label {
				margin-bottom: 15px;
                font-size: 1rem;
                font-family: $text-regular;
                font-weight: 200;

			}

			input[type="radio"] {
				position: absolute;
				opacity: 0;

				+ .radio-group__radio__label {
					display: flex;
					align-items: center;
					cursor: pointer;
					color: $medium-grey;

					&--error {
						&:before {
							border: 2px solid $warning-red !important;
						}	
					}

					&:before {
						flex-shrink: 0;
						content: '';
						background: $white;
						border-radius: 100%;
						border: 2px solid $light-grey;
						display: inline-block;
						width: 24px;
						height: 24px;
						position: relative;
						margin-right: 9px;
						vertical-align: middle;
						cursor: pointer;
						text-align: center;
						transition: all 250ms ease;	
					}

					&:empty {
						&:before {
							margin-right: 0;
						}
					}
				}
				&:checked {
					+ .radio-group__radio__label {
						&:before {
							background-color: $tertiary;
							box-shadow: inset 0 0 0 2px $white;
							border: 2px solid $tertiary !important;
						}
					}
					+ .radio-group__radio__label--error {
						&:before {
							background-color: $tertiary;
							box-shadow: inset 0 0 0 2px $white;
							border: 2px solid $tertiary !important;
						}
					}
				}
				&:disabled {
					+ .radio-group__radio__label {
						color: $light-grey-disabled;
						cursor: not-allowed;
						&:before {
							cursor: not-allowed;
							box-shadow: inset 0 0 0 2px $white;
							border-color: $light-grey-disabled;
							background: $white;
						}
					}
				}
			}
		}	
	}

	.last-item-margin {
		margin-bottom: -12px;
	}
