<div class="radio-group"
    [ngClass]="{
    'margin-bottom-sm': marginBottomSm,
    'margin-bottom-md': marginBottomMd,
    'margin-bottom-lg': marginBottomLg,
    'margin-bottom-none': marginBottomNone
    }"
     *ngFor="let radiobutton of radiobuttons">

    <ui-form-label 
        *ngIf="radiobutton.grouplabel" 
        [labelText]="radiobutton.grouplabel" 
        [tooltipText]="tooltipText" [tooltipHeadingText]="tooltipHeadingText"
        [hasHeading]="hasHeading" [hideTooltip]="hideTooltip"
    ></ui-form-label>

    <div role="radiogroup" class="radio-group__radio" *ngFor="let subItem of radiobutton.items; last as isLast"  
        [ngClass]="{
        'last-item-margin': isLast && radiobutton.grouphelpertext
        }">
        <input  id="{{subItem.id}}" name="{{ subItem.name }}" type="radio" checked="{{subItem.checked}}" (click)="radioButtonValue(subItem.id)">
        <label for="{{subItem.for}}" class="radio-group__radio__label">{{subItem.label}}</label>
    </div>

    <ui-form-helper-text *ngIf="radiobutton.grouphelpertext" [helperText]="radiobutton.grouphelpertext" [disabled]="disabled" [notValid]="notValid" ></ui-form-helper-text>

</div>