<div class="nlsg-c-progress"
    [ngClass]="{
    'margin-bottom-sm': marginBottomSm,
    'margin-bottom-md': marginBottomMd,
    'margin-bottom-lg': marginBottomLg,
    'margin-bottom-none': marginBottomNone
    }">
    <div class="nlsg-c-progress__bar">
        <div class="nlsg-c-progress__bar__value" [ngClass]="{'width-100':completed}" role="progressbar"></div>
    </div>
</div>