@import "../nedbank-design.scss";

/* --------------------------
------- Progress bar --------
-------------------------- */

.nlsg-c-progress {
	@include component-default-margin;
	&__bar {
		position: relative;
		margin-top: 0.6875rem;
		height: 0.25rem;
		width: 100%;
		min-width: 200px;
		background-color: $very-light-grey;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;

		&__value {
			position: absolute;
			width: 0;
			max-width: 100%;
			height: 0.25rem;
			  
			background-color: $tertiary;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			  
			-webkit-transition: width 0.6s ease;
			-moz-transition: width 0.6s ease;
			-ms-transition: width 0.6s ease;
			-o-transition: width 0.6s ease;
			transition: width 0.6s ease;
		}
	}
}

.width-100 {
    width: 100%;
}