@import "../nedbank-design.scss";

.nlsg-c-textarea {
    position: relative;
    width: 100%;
    max-width: 390px;
    display: flex;
    flex-direction: column;  
    
    & label {
        position: relative;
        color: $medium-grey;
        font-family: $text-regular;
        font-size: 0.875rem;
        font-weight: 200;
        display: block;
        margin-bottom: 5px;
        max-width: 390px;
        width: 100%;

    }
    
    & .nlsg-c-form-element__textarea {
        width: 100%;
        max-width: 390px;
        min-height: 100px;
        border: 2px solid $light-grey;
        color: $dark-grey;
        padding: 0.5em;
        font-size: 1rem;
        resize: none;
        @include component-default-margin;

        &:focus {
            border-color: $primary;
            outline: none;
        }

        &::-webkit-input-placeholder {
            color: $light-grey;
        }
        &:disabled {
            cursor: not-allowed;
            border-color: $light-grey-disabled;
            color: $light-grey-disabled;
            background: $white;

            & ~ label {
                color: $light-grey-disabled;
            }

            & ~ .nlsg-c-textarea__helper-text {
                color: $light-grey-disabled;
            }
        }

        &.inValid {
            border-color: $warning-red !important;

            & ~ label {
                 color: $warning-red !important;
            }

            & ~ .nlsg-c-textarea__helper-text {
                 color: $warning-red!important;
            }
        }
        
    }

    &__helper-text {
        font-family: $text-regular;
        font-size: 14px !important;
        margin-top: 3px;
        color: $light-grey;
        letter-spacing: 0.2px;
        display: block;
        width: 100% !important;
        &::before {
            font-size: 1rem;
            margin-right: 0.3125rem;
            display: flex;
            align-self: center;
        }
    }

    .valid {
        border-color: $tertiary !important;
    }
    .inValid {
        border-color: $warning-red!important;
    }

}