<div class="nlsg-c-textarea"      
    [ngClass]="{
    'margin-bottom-sm': marginBottomSm,
    'margin-bottom-md': marginBottomMd,
    'margin-bottom-lg': marginBottomLg,
    'margin-bottom-none': marginBottomNone
    }">
    
    <ui-form-label
        *ngIf="hasLabel" 
        [labelText]="labelText" 
        [disabled]="disabled" 
        [notValid]="notValid" 
        [tooltipText]="tooltipText" [tooltipHeadingText]="tooltipHeadingText"
        [hasHeading]="hasHeading" [hideTooltip]="hideTooltip"
    ></ui-form-label>
    
    <textarea 
        class="nlsg-c-form-element__textarea"  
        name=" {{ name }}"
        rows="{{ rows }}"
        attr.aria-label="{{ arialabel }}"
        [disabled]="disabled" 
        attr.maxlength="{{ maxLength }}" 
        (keyup)="inputChanged($event)" 
        [ngClass]="{
        'valid': isValid,
        'inValid': notValid,
        'margin-bottom-none': hashelperText
        }" 
        [(ngModel)]="textarea"
    ></textarea>

    <ui-form-helper-text *ngIf="hashelperText && maxLength > textarea.length" [hidden]="hashelperText && textarea.length == maxLength - 1" [helperText]="maxLength - textarea.length + ' characters left'" [disabled]="disabled" [notValid]="notValid" ></ui-form-helper-text>

    <ui-form-helper-text *ngIf="hashelperText && textarea.length == maxLength - 1" [helperText]="maxLength - textarea.length + ' character left'" [disabled]="disabled" [notValid]="notValid" ></ui-form-helper-text>

    <ui-form-helper-text *ngIf="hashelperText && maxLength == textarea.length" [helperText]="limitReachedText" [disabled]="disabled" [notValid]="notValid" ></ui-form-helper-text>
    
</div>