<div class="nlsg-c-tooltip" [ngClass]="{
    'nlsg-c-tooltip--hidden': hideTooltip,
    'nlsg-c-tooltip--with-heading': hasHeading,
    'bottomCenter': bottomCenter,
    'topCenter': topCenter
}">
    <h4 *ngIf="hasHeading">{{ tooltipHeadingText }}</h4>
    <p> {{ tooltipText }} </p>
</div>