<pagination-template tabindex="0" class="nlsg-c-pagination" #p="paginationApi" [id]="paginationSettings.id" (pageChange)="paginationSettings.currentPage = $event" responsive="true" maxSize="{{ maxSize }}">

	<nav aria-label="Pagination" tabindex="1">
		<ul>
			<li *ngIf="p.isFirstPage()" class="prevLink">
				<a href="javascript:void(0)" [class.disabled]="p.isFirstPage()"
					aria-label="Previous page link. This is the first page. Use tab to select a page"></a>
			</li>

			<li *ngIf="!p.isFirstPage()" class="prevLink">
				<a href="javascript:void(0)" [class.disabled]="p.isFirstPage()"
					aria-label="Go to previous page"
					(click)="p.previous()"></a>
			</li>

			<li *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
				<a href="javascript:void(0)" *ngIf="p.getCurrent() !== page.value" class="pagination__item" attr.aria-label="Go to page {{ page.label }} using spacebar" (click)="p.setCurrent(page.value)">{{ page.label }}</a>

				<a href="javascript:void(0)" *ngIf="p.getCurrent() === page.value" class="pagination__item" attr.aria-label="Current is {{ page.label }}">{{ page.label }}

				<div class="sr-only" aria-live="polite">Current page is {{ page.label }} </div>
				</a>

			</li>
			<li class="sr-only"></li>

			<li *ngIf="p.isLastPage()" class="nextLink">
				<a href="javascript:void(0)" [class.disabled]="p.isLastPage()"
				aria-label="Next page link. This is the last page. Use the up arrow to move backwards through the pages."></a>
			</li>

			<li *ngIf="!p.isLastPage()" class="nextLink">
				<a href="javascript:void(0)" [class.disabled]="p.isLastPage()"
				aria-label="Go to next page" (click)="p.next()"></a>
			</li>
		</ul>
	</nav>

</pagination-template>