@import "../nedbank-design.scss";

// Pagination

.nlsg-c-pagination {
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
            

    ul {
        @include component-default-margin;    

        @media screen and (max-width: $tablet-portrait) {
            padding: 5px 0px 6px 0px;
        }

        li {
            font-family: $text-medium;
            color: $medium-grey;
            display: inline-block;
            text-align: center;
            padding: 5px 10px 4px 10px;
            margin-right: 5px;

                @media screen and (max-width: $tablet-portrait) {
                    padding: 5px 8px 6px 8px;
                    margin-right: 5px;
                }

                &:last-of-type {
                    margin-right: 0px;
                }

                a {
                    display: block;
                    border-bottom: 2px solid transparent;
                    transition: all 0.25s;
                    cursor: pointer;
                    text-decoration: none;
                    color: $medium-grey;
                    outline: 0;
                    
                    &:focus {
                        color: $primary !important;
                        border-bottom: 2px solid $primary;
                        background: none;
                    }

                    &:hover {
                        color: #006341 !important;
                        border-bottom: 2px solid $primary;;
                        background: none;
                    } 

                }

                a[aria-current="true"] {
                    background: #000;
                    color: #fff;
                }

                &.prevLink {
                    a:before {
                        content: "Previous";
                        @media screen and (max-width: $tablet-portrait) {
                            font-family: "nlsg-icons";
                            content: "\64";
                            color: $medium-grey;
                        }
                    }
                }

                &.nextLink {
                    a:before {
                        content: "Next";
                        @media screen and (max-width: $tablet-portrait) {
                            font-family: "nlsg-icons";
                            content: "\65";
                            color: $medium-grey;
                        }
                    }
                }

                &.current {
                    background: #009639;
                    color: $white;
                    border-radius: 5px;
                    pointer-events: none;

                    a {
                        color: $white;
                        &:hover {
                            color: $white !important;
                            border-bottom: 2px solid transparent;
                        }
                        &:focus {
                            color: $white !important;
                            border-bottom: 2px solid transparent;
                        }
                    }

                    
                    &:hover {
                        a {
                            border-bottom: 2px solid transparent;
                            color: $white !important;
                        }
                    }
                }

                .disabled {
                    color: $light-grey-disabled;
                    pointer-events: none;
                }
        }
    }    
}

.sr-only {
    position: absolute;
    left:-99999px;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }