<div class="nlsg-c-list"
    [ngClass]="{
    'margin-bottom-sm': marginBottomSm,
    'margin-bottom-md': marginBottomMd,
    'margin-bottom-lg': marginBottomLg,
    'margin-bottom-none': marginBottomNone
    }">
    <ol role="list" class="ol" *ngIf="orderedList" >
        <li role="listitem" class="ol__li" *ngFor="let listItem of listItems">{{ listItem.content }}</li>
    </ol>
    
    <ul role="list" class="ul" *ngIf="unorderedList">
        <li role="listitem" class="ul__li" *ngFor="let listItem of listItems">{{ listItem.content }}</li>
    </ul>
</div>


