@import "../nedbank-design.scss";
/* ------------------------
------- Lists -------------
------------------------ */

.nlsg-c-list {
	 ul,
	 ol {
        font-family: $text-regular;
		color: $medium-grey;
		padding: 0 1.4rem 0 1.4rem;
		list-style: disc;
		@include component-default-margin;

		li {
			padding: 0.4rem;
			line-height: 1.5;
		}
	}

	ol {
		list-style: decimal;
	}
}