
<div class="nlsg-c-form-element__number-scrubber"
    [ngClass]="{
    'margin-bottom-sm': marginBottomSm,
    'margin-bottom-md': marginBottomMd,
    'margin-bottom-lg': marginBottomLg,
    'margin-bottom-none': marginBottomNone
    }">
    
    <ui-form-label *ngIf="hasLabel"></ui-form-label>

    <div attr.aria-label="Number scrubber for {{ labelText }}" tabindex="0" class="ns-input">
        <button attr.aria-label="Decrease value. Current value is {{numbervalue}}" class="left-button" (click)="decreaseValue()"
        [ngClass]="{
            'disabled-button': numbervalue <= 0
        }"
        ></button>
        <input tabindex="-1" type="number" aria-hidden="true" [ngModel]="numbervalue" max="{{ maxValue }}" readonly
        [ngClass]="{
            'completed': numbervalue > 0 && numbervalue <= maxValue
        }"
        />
        
        <button attr.aria-label="Increase value. Current value is {{numbervalue}} .Maximum is {{ maxValue }}" class="right-button" (click)="increaseValue($event)"
        [ngClass]="{
            'disabled-button': numbervalue >= maxValue
        }"
        >
        </button>

       
    </div>

    
    <span class="nlsg-c-form-element__help">
        <span *ngIf="numbervalue >= 0">Maximum is {{ maxValue }}</span>
    </span>
</div>
