@import "../nedbank-design.scss";

// Number scrubber

.nlsg-c-form-element__number-scrubber {
    position: relative;
    border-radius: 0.3125rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 180px;
    min-width: 150px;
    box-sizing: border-box;

    .ns-input {
        display: flex;
        flex-direction: row;
        order: 2;	
    }

    & label {
        order: 1;
        position: relative;
        color: $medium-grey;
        font-family: $text-regular;
        font-size: 0.875rem;
        font-weight: 200;
        display: block;
        margin-bottom: 5px;
        max-width: 390px;
        width: 100%;

        &.error {
            color: $warning-red;
        }
        
    }

    & input[type=number] {
        width: 100%;
        max-width: 290px;
        min-width: 50px;
        padding: 0.5rem;
        font-size: 1rem;
        height: 3.125rem;
        text-align: center;
        border: 0.125rem solid $light-grey;
        font-family: $text-regular;

        &:focus {
            border-color: $primary;
            outline: none;
            min-width: 50px;
        }

        &.focus {
            border-color: $primary;
            outline: none;
        }

        &.error {
            border: 0.125rem solid $warning-red !important; 
        }

        &.completed {
            border: 0.125rem solid $tertiary; 
        }

        -webkit-appearance: textfield;
        -moz-appearance: textfield;
        appearance: textfield;

        &::-webkit-inner-spin-button,& ::-webkit-outer-spin-button {
            -webkit-appearance: none;
        }

    }

    & button {
        outline:none;
        -webkit-appearance: none;
        border-top: 0.125rem solid $light-grey;
        border-bottom: 0.125rem solid $light-grey;
        background: $white;
        align-items: center;
        justify-content: center;
        width: 3.125rem;
        height: 3.125rem;
        min-height: 50px;
        min-width: 50px;
        cursor: pointer;
        margin: 0;
        position: relative;

        &.hover {
            background: $primary;
            border: 0.125rem solid $primary;

            &:before, &:after  {
                background-color: $white;	
            }

            &.left-button {
                border-left: 0.125rem solid $primary;
            }

            &.right-button {
                border-right: 0.125rem solid $primary;
            }
        }

        &:hover {
            background: $primary;
            border: 0.125rem solid $primary;

            &:before, &:after  {
                background-color: $white;	
            }

            &.left-button {
                border-left: 0.125rem solid $primary;
            }

            &.right-button {
                border-right: 0.125rem solid $primary;
            }
        }

        &:focus {
            background: $primary;
            border: 0.125rem solid $primary;

            &:before, &:after  {
                background-color: $white;	
            }

            &.left-button {
                border-left: 0.125rem solid $primary;
            }

            &.right-button {
                border-right: 0.125rem solid $primary;
            }
        }

        &.disabled-button {
            background: $light-grey!important;
            cursor: not-allowed!important;
            &:before, &:after {
                background-color: $white!important;
            }
            &:hover {
                background: $light-grey!important;
                border-color:$light-grey!important;
            }
            &:focus {
                background: $light-grey!important;
                border-color:$light-grey!important;
            }
        }

        &.left-button {
            border-radius: 0.3125rem 0 0 0.3125rem;
            border-left: 0.125rem solid $light-grey;
            border-right: 0;
        }

        &.right-button {
            border-radius: 0 0.3125rem 0.3125rem 0;
            border-right: 0.125rem solid $light-grey;
            border-left: 0;	
        }

        &:before, &:after  {
            display: inline-block;
            position: absolute;
            content: '';
            width: 0.8125rem;;
            height: 0.125rem;
            background-color: $dark-grey;
            transform: translate(-50%, -50%);
        }

        &.right-button {
            &:after {
                transform: translate(-50%, -50%) rotate(90deg);	
            }	
        }
    }

    .nlsg-c-form-element__help {
        order: 3;
        font-family: $text-regular;
        font-size: 14px !important;
        margin-top: 3px;
        color: $light-grey;
        letter-spacing: 0.2px;
        display: block;
        width: 100% !important;
        @include component-default-margin;
        &::before {
            font-size: 1rem;
            margin-right: 0.3125rem;
            display: flex;
            align-self: center;
        }

        &.error {
            color: $warning-red;
        }
    }

}// nlsg-c-form-element__number-scrubber ends

.sr-only {
    position: absolute;
    left:-99999px;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }