<div tabindex="0"
    class="nlsg-c-note" 
    [ngClass]="{
        'nlsg-c-note--info': infoNote, 
        'nlsg-c-note--warning': warningNote,
        'margin-bottom-sm': marginBottomSm,
        'margin-bottom-md': marginBottomMd,
        'margin-bottom-lg': marginBottomLg,
        'margin-bottom-none': marginBottomNone
    }">
    <p>{{ noteHeading }}</p>
    <span>{{ noteBody }}</span>
</div>
