@import "../nedbank-design.scss";

// Note

.nlsg-c-note {
	padding: 20px;
	padding-left: 50px;
	max-width: 640px;
	width: 100%;
	@include component-default-margin;

	&:before {
		position: absolute;
		margin-left: -30px;
		@extend .nlsg-icon--size-24;
		top: auto;
	}

	&--info {
		color: $dark-grey;
		background: $very-light-grey;
		&:before {
			@extend .nlsg-icon-info;
		}
	}

	&--warning {
		color: $dark-grey;
		background: $warning-orange-light-20;
		&:before {
			@extend .nlsg-icon-warning;
			@extend .nlsg-icon--colour-warning-orange;
		}
	}

	p {
		font-family: $text-medium;
		margin-bottom: 8px;
		margin-top: 0px;
	}

	span {
		font-size: 14px;
		font-family: $text-regular;
		line-height: 1.55;
	}
}