@import "../nedbank-design.scss";
// Buttons
.nlsg-c-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $secondary;
    width: 100%;
    max-width: 390px;
    min-height: 40px;
    height: 52px;
    @include component-default-margin;
    border-radius: 4px;
    border: 2px solid $secondary;
    min-width: 200px;
    font-family: $text-medium, Helvetica,sans-serif;
    font-size: 16px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition-duration: 0.2s;
    transition-property: color, background, border;
    outline: none;
    &:hover {
        outline: none;
        color: $white;
        background: $primary-hover;
        text-decoration: none;
        border: 2px solid transparent;
    }
    &:focus {
        outline: none;
        color: $white;
        background: $primary-hover;
        text-decoration: none;
        border: 2px solid transparent;
    }
    &:disabled,
	&[disabled] {
		background: $light-grey-disabled;
		border: 2px solid $light-grey-disabled;
        cursor: not-allowed;
        &:hover {
            background: $light-grey-disabled;
        }
    }
    // Secondary button
    &--secondary {
		background: #fff;
        color: $secondary;
        &:disabled,
        &[disabled] {
            color: $light-grey-disabled;
            background: #fff;
            &:hover {
                background: #fff;
            }
        }
    }
    // Text button
    &--no-bg-button {
        background: transparent;
        color: $secondary;
        border: none;
		&:hover {
			color: $primary-hover;
			border: none;
            outline: none;
            background: transparent;
        }
        &:focus {
			color: $primary-hover;
			border: none;
            outline: none;
            background: transparent;
        }
        &:disabled,
        &[disabled] {
            background: transparent;
            border: none;
            outline: none;
            color: $light-grey-disabled;
            cursor: not-allowed;
            &:hover {
                background: transparent;
                border: none;
                outline: none;
                color: $light-grey-disabled;
            }
        }
    }
    // Icon button
    &--icon-button {
		background: transparent;
        color: $secondary;
        border: none;
        display: flex;
        justify-content: center;
        align-content: center;

        ui-icon {
            margin-top: 6px;
            margin-right: 3px;
            margin-left: 3px;
        }

        &:hover {
            color: $primary-hover;
            background: transparent;
            border: none;

            ui-icon i:before {
                color: $primary-hover;
            }

		}
		&:focus {
            outline: none;
            color: $primary-hover;
            background: transparent;
            border: none;
		}
		&::before {
            position: relative;
		    top: 3px;
            left: -5px;
            width: 16px;
            height: 16px;
        }
        &::after {
            position: relative;
		    top: 3px;
            right: -5px;
            width: 16px;
            height: 16px;
        }
		&:disabled,
		&[disabled] {
			background: transparent;
            border: none;
			color: $light-grey-disabled;
            cursor: not-allowed;
				&:hover {
				    background: transparent;
                    border: none;
                    color: $light-grey-disabled;
                    cursor: not-allowed;
                }
                
                ui-icon i:before {
                    color: $light-grey-disabled;
                }
        }


	}// Icon button ends
    // Spinner button
    &--spinner {
        @-webkit-keyframes rotate{
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
        @-moz-keyframes rotate{
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
        @-o-keyframes rotate{
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
        @keyframes rotate {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
        &::before {
            content: "\56";
            font-size: 34px;
            position: relative;
            top: 0px;
            height: 30px;
            $offset: 260;
            $duration: 1.4s;
            animation: rotate $duration linear infinite;
            -webkit-animation: rotate $duration linear infinite;
            -moz-animation: rotate $duration linear infinite;
            -o-animation: rotate $duration linear infinite;
        }
    }// Spinner button ends
}