<button 
    class="nlsg-c-button" 
    [ngClass]="{
        'nlsg-c-button--secondary': secondary, 
        'nlsg-c-button--no-bg-button': textButton,
        'nlsg-c-button--icon-button': iconbutton,
        'margin-bottom-sm': marginBottomSm,
        'margin-bottom-md': marginBottomMd,
        'margin-bottom-lg': marginBottomLg,
        'margin-bottom-none': marginBottomNone
    }"
    [disabled]="disabled"
    (onmouseover)="disabledButton($event)"
    (click)="buttonClicked()">
    <ui-icon *ngIf="iconbefore" [iconName]="iconName" iconSize="nlsg-icon--size-16" iconColor="nlsg-icon--colour-grass-green"></ui-icon>
    {{ buttonText }}
    {{ secondaryButtonText }}
    <ui-icon *ngIf="iconafter" [iconName]="iconName"  iconSize="nlsg-icon--size-16" iconColor="nlsg-icon--colour-grass-green"></ui-icon>
</button>

