@import '../nedbank-design.scss';


.nlsg-c-form-group {
    @include component-default-margin;
}

// Checkbox
.nlsg-c-checkbox {
    width: 100%;
    max-width: 390px;
    display: flex;
    flex-direction: row;
   
        &--column {
            flex-direction: column;
        }
        // label {
        //     order: 2;
        //     color: $medium-grey;
        //     font-family: $text-regular;
        //     font-size: 16px;
        //     padding-left: 33px !important;
        // }
        // input[type="checkbox"]:not(:checked),
        // input[type="checkbox"]:checked {
        //  position: relative;
        //  left: -9999px;
        // }
        input[type="checkbox"] {
            order: 1;
            &:not(:checked) + label:before,
            &:checked + label:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                border: 2px solid $light-grey;
                background: $white;
                border-radius: 5px;
                width: 24px;
                height: 24px;
            }
        }
        label {
            font-size: 16px;
            padding-left: 0px !important;
            }
            input[type="checkbox"]:not(:checked),
            input[type="checkbox"]:checked {
                position: relative;
                left: -7px;
                top: -3px;
                z-index: 100;
                opacity: 0;
                width: 24px;
                height: 24px;
            }
            input[type="checkbox"] {
                &:not(:checked) + label,
                &:checked + label {
                    position: relative;
                    padding-left: 48px;
                    padding-top: 2px;
                    font-weight: 200;
                    cursor: pointer;
                    float: left;
                }
            }
            input[type="checkbox"]:disabled {
                &:not(:checked) + label,
                &:checked + label {
                    position: relative;
                    padding-left: 48px;
                    padding-top: 3px;
                    font-weight: 200;
                    cursor: pointer;
                    float: left;
                    cursor: not-allowed;
                    color: $light-grey-disabled;
                }
            }
            input[type="checkbox"] {
                &:not(:checked) + label:before,
                &:checked + label:before {
                    content: '';
                    position: absolute;
                    left: -35px;
                    top: 0;
                    border: 2px solid $light-grey;
                    background: $white;
                    border-radius: 5px;
                    width: 24px;
                    height: 24px;
                }
                &:checked + label:before {
                    border: 2px solid $tertiary !important;
                    background: $tertiary;
                }
                &:focus + label:before {
                    border: 2px solid $medium-grey;
                }
            }
            input[type="checkbox"]:disabled {
                &:not(:checked) + label:before,
                &:checked + label:before {
                    content: '';
                    position: absolute;
                    // left: 0;
                    top: 0;
                    border: 2px solid $light-grey-disabled;
                    background: $white;
                    border-radius: 5px;
                    width: 24px;
                    height: 24px;
                }
                &:checked + label:before {
                    border: 3px solid $light-grey-disabled !important;
                    background: $light-grey-disabled;
                }
            }
            input[type="checkbox"] {
                &:not(:checked) + label,
                &:checked + label {
                    color: $medium-grey;
                    a {
                    font-family: $text-regular;
                    text-decoration: underline;
                    }
                }
            }
            input[type="checkbox"] {
                &:not(:checked) + label:after,
                &:checked + label:after {
                    font-family: "nlsg-icons" !important;
                    @extend .nlsg-icon-after-check;
                    @extend .nlsg-icon--size-24;
                    position: absolute;
                    top: 4px;
                    left: -34px;
                    line-height: 0.8;
                    color: $white;
                    transition: all 0.2s;
                }
            }
            input[type="checkbox"]:not(:checked) + label:after {
                opacity: 0;
                transform: scale(0);
            }
            input[type="checkbox"]:checked + label:after {
                opacity: 1;
                transform: scale(1);
            }
            &:after {
                content: ".";
                visibility: hidden;
                display: block;
                height: 0;
                clear: both;
            }
            &__label {
                font-size: 14px;
                line-height: 1.4;
                margin-bottom: 15px;
            }
}// nlsg-c-form-group ends
// .nlsg-c-form-element {
//  &__checkbox {
//      margin-bottom: 15px;
//      .nlsg-c-form-element & {
//          > div {
//              margin-top: 0;
//          }
//      }
//  }
// }