<div class="nlsg-c-form-group"    
    [ngClass]="{
    'margin-bottom-sm': marginBottomSm,
    'margin-bottom-md': marginBottomMd,
    'margin-bottom-lg': marginBottomLg,
    'margin-bottom-none': marginBottomNone
    }">

    <ui-form-label
        *ngIf="hasLabel" 
        [labelText]="labelText" 
        [disabled]="disabled" 
        [notValid]="notValid" 
        [tooltipText]="tooltipText" [tooltipHeadingText]="tooltipHeadingText"
        [hasHeading]="hasHeading" [hideTooltip]="hideTooltip"
    ></ui-form-label>

    

    <div class="nlsg-c-checkbox"  
        [ngClass]="{
        'margin-bottom-sm': groupItemMargin,
        'margin-bottom-md': marginBottomMd,
        'margin-bottom-lg': marginBottomLg,
        'margin-bottom-none': marginBottomNone
        }">
        <input type="checkbox" id="{{ checkboxId }}" [disabled]="disabled" [attr.checked]="hasChecked ? 'checked' : null" (click)="checkboxChecked($event)" >
        <label for="{{ checkboxFor }}">{{ checkboxText }}</label>
    </div>

    <ui-form-helper-text *ngIf="hashelperText" [helperText]="helperText" [disabled]="disabled" [notValid]="notValid" ></ui-form-helper-text>

</div>