@import "../nedbank-design.scss";

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 90;
    margin-bottom: 43px;
    height: 80px;
    display: flex;
    align-items: center;
    background: $white;
    display: flex;
    border-bottom: 1px solid $very-light-grey;
    justify-content: space-between;

    @media screen and (max-width: $tablet-portrait) {
        height: 60px;
    }

    .logo {
        width: 40px;
        @media screen and (max-width: $tablet-portrait) {
            width: 32px;
            height: 32px;
        }
    }

    h6 {
        margin-bottom: 0;
        font-family: $text-medium;
        color: $medium-grey; 
    }

    .actions {
        position: relative;
        z-index: 100;
        display: flex;
        align-items: center;
        height: 80px;

        ui-hyperlink {
            height: 30px;
            margin-right: 30px;
        }

        @media screen and (max-width: $tablet-portrait) {
            display: none;
        }
    }

    .mobile-menu {
        display: none;

        @media screen and (max-width: $tablet-portrait) {
            display: block;
            width: 32px;
            height: 32px;
            transition: ease 200ms;
            border-radius: 50%;
            cursor: pointer;

            i {
                top: 5px;
                left: 4px;
                position: relative;
            }
            
            &:hover {
                opacity: 1;
                background: $very-light-grey;
                border-radius: 50%;
            }
        }
    }




}

.mobile-aside-wrapper {
    position: absolute;
    display: flex;
    width: 100%;

    .progress-bar {
        width: 3px;
        background-color: $light-grey-disabled;
        margin-right: 10px;
    
        &.progress-bar-side {
            display: flex;
            opacity: 1;
        }
    
        .progress {
            width: 3px;
            height: 26px;
            transition: 1s ease;
            background-color: $secondary;
        }
    }    
}

.progress-bar-top {
    opacity: 0;
    background-color: $light-grey-disabled;

    @media screen and (max-width: $tablet-portrait) {
        display: flex;
        opacity: 1;
        width: 100%;
        height: 3px;
        top: 0.1px;
    
        .progress {
            width: 100%;
            height: 3px; 
            transition: 1s ease;
            background-color: $secondary;
        }        
    }
    
}

.dropdown-arrow {
    position: absolute;
    left: 223px;
    cursor: pointer;
}

.hide-arrow {
    display: none;
}

.stepper-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: visible;

    .sidebar {
        opacity: 1;
        width: 300px;
        background: $white;
        max-width: 300px;
        position: relative;
        display: flex;
        justify-content: center;
        font-size: 16px;
        top: 131px;
        left: 107px;
        height: auto;

        @media screen and (max-width: $tablet-portrait) {
            opacity: 0;

            &.mobileNavShown {
                display: flex;
                opacity: 1;
                width: 100%;
                max-width: 100%;
                height: calc(100vh - 65px);
                top: -3px;
                left: 0;
                position: absolute;
                z-index: 10;
                padding-top: 20px;

                ul {
                    width: 95%;

                    li {
                        width: 100%; 
                    }
                }
            }
        }

        ul {
            li {
                cursor: pointer;
                font-family: $text-regular;
                list-style-type: none;

                &.main-level {
                    margin-left: 20px;
                    font-family: $text-regular;
                    color: $light-grey;
                    list-style-type: decimal;
                    margin-bottom: 5px;
                    margin-top: 10px;

                    &:first-of-type {
                        margin-top: 0; 
                    }

                    span {
                        font-family: $text-medium;
                        color: $medium-grey;
                        margin-left: 10px;

                        &.activeClass {
                            text-shadow: none;
                        }
                    }

                    a {
                        text-shadow: none;
                    }
                }

                &.sub-level {
                    margin-left: 30px;
                    list-style-type: none;
                    font-size: 14px;
                    color: $medium-grey;
                    margin-top: 10px;
                    margin-bottom: 5px;
                }

                &.sub-sub-level {
                    margin-left: 30px;
                    list-style-type: none;
                    font-size: 14px;
                    color: $medium-grey;
                }
            }
        }
    }
}


.sticky-class {
    position: fixed !important;
    z-index: 10;
    top: 140px!important;

    &--alert {
        top: 223px!important;
    }
}


.content {
    left: 452px !important;
    width: auto !important;
}

.wrapperOverflow {
    overflow: hidden;
}

.stepper-content {
    display: flex;
    left: 218px;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    top: 127px;
    font-family: $text-regular;
    z-index: 2;

    @media screen and (max-width: $tablet-portrait) {
        left: 0 !important;
    }

}

.activeClass {
    color: $secondary;
    text-shadow: 0.5px 0px $secondary;
    transition: 100ms ease;
}

.activeClassArrow {
    color: $secondary;
    text-shadow: none;
    transition: 1s ease;
}

.dropdownOpen {
    display: block;
}

.dropdownClose {
    display: none;
}

.disabledStep {
    color: $light-grey-disabled !important;
    pointer-events: none;
}

:host ::ng-deep .actions .nlsg-c-hyperlink .nlsg-icon-save {
    color: $secondary;
    &::before {
        color: $secondary;
    }
}

:host ::ng-deep .nlsg-c-alert--block  {
    position: relative;
    top: 72px;
}

:host ::ng-deep .actions .nlsg-c-hyperlink .nlsg-icon-close {
    color: $warning-red;
    &::before {
        color: $warning-red;;
    }
}

:host ::ng-deep ui-button .nlsg-c-button {
    display: inherit;
    max-width: 390px;
}


ui-button {
    position: relative;
    bottom: -120px;
    left: 480px; 

    @media screen and (max-width: $tablet-portrait) {
        left: 0; 
    }
}

.actions-mobile {
    display: none; 
}

:host ::ng-deep .actions-mobile .nlsg-c-hyperlink .nlsg-icon-save {
    color: $secondary;
    &::before {
        color: $secondary;
    }
}
:host ::ng-deep .actions-mobile .nlsg-c-hyperlink .nlsg-icon-close {
    color: $warning-red;
    &::before {
        color: $warning-red;;
    }
}

:host ::ng-deep .actions-mobile .nlsg-c-hyperlink {
    height: 55px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6px;
    border-top: 1px solid $very-light-grey;
    border-left: none;
    transition: ease 200ms;

    &:hover {
        background: $very-light-grey;
    }

}

:host ::ng-deep .actions-mobile #save .nlsg-c-hyperlink{
    border-right: 1px solid $very-light-grey;
}

@media screen and (max-width: $tablet-portrait) {
    .actions-mobile {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 60px;
        width: 100%;
        position: absolute;
        bottom: 0;
        
    
        ui-hyperlink {
            display: flex;
            height: 60px;
            justify-content: center;
            align-items: center;
            width: 50%;
        }
    }
}    
