

/* ---------------------
------- Vertical spacing --------
--------------------- */

$spacing-none: 0 !default;

$spacing-small: 15px !default;
$spacing-small-mobile: 10px !default;

$spacing-medium: 30px !default;
$spacing-medium-mobile: 20px !default;

$spacing-large: 60px !default;
$spacing-large-mobile: 40px !default;

ul {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

p {
margin-block-start: 0;
margin-block-end: 0;
margin-inline-start: 0px;
margin-inline-end: 0px;
}

.margin-bottom-sm {
	margin-bottom: $spacing-small !important;

	@media screen and (max-width: $tablet-portrait) {
		margin-bottom: $spacing-small-mobile !important;	
	}

	@media screen and (max-width: $smartphone) {
		margin-bottom: $spacing-small-mobile !important;		
	}
}

.margin-bottom-md {
	margin-bottom: $spacing-medium !important;

	@media screen and (max-width: $tablet-portrait) {
		margin-bottom: $spacing-medium-mobile !important;	
	}

	@media screen and (max-width: $smartphone) {
		margin-bottom: $spacing-medium-mobile !important;		
	}
}

.margin-bottom-lg {
	margin-bottom: $spacing-large !important;

	@media screen and (max-width: $tablet-portrait) {
		margin-bottom: $spacing-large-mobile !important;	
	}

	@media screen and (max-width: $smartphone) {
		margin-bottom: $spacing-large-mobile !important;		
	}
}

.margin-bottom-none {
	margin-bottom: $spacing-none !important;

	@media screen and (max-width: $tablet-portrait) {
		margin-bottom: $spacing-none !important;	
	}

	@media screen and (max-width: $smartphone) {
		margin-bottom: $spacing-none !important;		
	}
}


.margin-top-sm {
	margin-top: $spacing-small !important;

	@media screen and (max-width: $tablet-portrait) {
		margin-top: $spacing-small-mobile !important;	
	}

	@media screen and (max-width: $smartphone) {
		margin-top: $spacing-small-mobile !important;		
	}
}

.margin-top-md {
	margin-top: $spacing-medium !important;

	@media screen and (max-width: $tablet-portrait) {
		margin-top: $spacing-medium-mobile !important;	
	}

	@media screen and (max-width: $smartphone) {
		margin-top: $spacing-medium-mobile !important;		
	}
}

.margin-top-lg {
	margin-top: $spacing-large !important;

	@media screen and (max-width: $tablet-portrait) {
		margin-top: $spacing-large-mobile !important;	
	}

	@media screen and (max-width: $smartphone) {
		margin-top: $spacing-large-mobile !important;		
	}
}

.margin-top-none {
	margin-top: $spacing-none !important;

	@media screen and (max-width: $tablet-portrait) {
		margin-top: $spacing-none !important;	
	}

	@media screen and (max-width: $smartphone) {
		margin-top: $spacing-none !important;		
	}
}

hr {
	display: block;
	position: relative;
	padding: 0;
	margin: $spacing-medium auto;
	height: 0;
	width: 100%;
	max-height: 0;
	line-height: 0;
	clear: both;
	border: none;
	border-top: 1px solid $very-light-grey;
}