
<div role="alert" *ngIf="showAlert"
    class="nlsg-c-alert--inline"
    [ngClass]="{
        'nlsg-c-alert--inline--informative': infoInlineAlert, 
        'nlsg-c-alert--inline--warning': warningInlineAlert, 
        'nlsg-c-alert--inline--success': successInlineAlert, 
        'nlsg-c-alert--inline--error': errorInlineAlert,
        'margin-bottom-sm': marginBottomSm,
        'margin-bottom-md': marginBottomMd,
        'margin-bottom-lg': marginBottomLg,
        'margin-bottom-none': marginBottomNone
    }">
    <span *ngIf="!warningInlineAlert">{{ alertBody }}</span>
    <span *ngIf="warningInlineAlert">{{ alertBody }}</span>
</div>

