@import "../nedbank-design.scss";

// Inline alerts

%inline-left-icon:before {
	width: 24px;
	@extend .nlsg-icon--size-24;
    transition: all 0.5s ease;
    top: 1px;
    left: 0px;
    position: absolute;
}

.nlsg-c-alert--inline {
    display: flex;
    align-items: center;
	color: $dark-grey;
	position: relative;
	font-size: 16px;
    font-family: $text-medium;
	padding: 0 10px 0 30px;
	@include component-default-margin;

	&--informative {
		color: $accent-teal;
		background: transparent;
		@extend %inline-left-icon;
		@extend .nlsg-icon-info;
	}

	&--warning {
		background: transparent;
		color: $warning-orange;
		@extend %inline-left-icon;
		transition: transform 2s;
		@extend .nlsg-icon-retry;

        &:hover {
            // &:before {
            //     transform: rotate(-360deg);
            // }
            color: $warning-orange-light-80;
        }

		span {
			cursor: pointer;
			&:before {
				content: '';
				height: 1px;
				background: $warning-orange;
				position: absolute;
				margin-top: 21px;
				display: block;
				width: 0;
				transition: width 0.5s ease;
			}
			// &:hover::before {
			// 	width: 100%;
			// }
		}

	}

	&--success {
		background: transparent;
		color: $secondary;
		@extend %inline-left-icon;
		@extend .nlsg-icon-check;	
		&:before {
			@extend .nlsg-icon--colour-grass-green;
		}
	}

	&--error {
		background: transparent;
		color: $warning-red;
		@extend %inline-left-icon;
		@extend .nlsg-icon-warning;	
		&:before {
			@extend .nlsg-icon--colour-warning-red;
		}
	}
}