@import "../nedbank-design.scss";

.nlsg-c-toggle {
    width: 100%;
    max-width: 390px;
    display: flex;
    justify-content: space-between;
    @include component-default-margin;

    .nlsg-c-form-label {
        display: inline-block !important;
        margin-top: 5px;
    }

    label {
        color: $dark-grey;
        display: inline-block !important;
        margin-top: -2px;

        &.disabled {
        color: $light-grey-disabled;
        }

    }

    &__toggle {
        position: relative;
        display: inline-block;
        width: 45px !important;
        height: 24px;

        & input {
            position: absolute;
            left: -9999999px;

            &:checked {

                & ~ .nlsg-c-toggle__toggle__slider {
                    background-color: $tertiary;
                    border: 3px solid $tertiary;

                    &:before {
                        // left: -1px;
                        left: -10px;
                        border: 3px solid $tertiary;

                        -webkit-transform: translateX(28px);
                        -ms-transform: translateX(28px);
                        transform: translateX(28px);
                    }
                }

                & ~ .nlsg-c-toggle__toggle__off-label {
                    color: $light-grey;
                }

                & ~ .nlsg-c-toggle__toggle__on-label {
                    color: $tertiary;
                }

            }

            &:disabled {

                & ~ .nlsg-c-toggle__toggle__slider {
                border: 3px solid $light-grey-disabled;
                background-color: $light-grey-disabled;
                cursor: not-allowed;
                }

                & ~ .nlsg-c-toggle__toggle__slider:before {
                border: 3px solid $light-grey-disabled;
                }

            }

        }

        &__slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: 3px solid $light-grey;
            background-color: $light-grey;
            -webkit-transition: 0.4s;
            transition: 0.4s;
            border-radius: 5px;

            &:before {
                position: absolute;
                content: "";
                height: 24px;
                width: 24px;
                left: -3px;
                border: 3px solid $light-grey;
                bottom: -3px;
                background-color: $white;
                -webkit-transition: 0.4s;
                transition: 0.4s;
                border-radius: 5px;
                background-clip: padding-box;
            }
        }

        .round {
            border-radius: 30px;

            &:before {
                border-radius: 30px;
            }

        }

        &__off-label {
            float: left;
            font-size: 16px;
            color: $medium-grey;
            margin-top: 0.45rem;
            margin-left: -2.2rem;
            padding-right: 10px;
        }

        &__on-label {
            float: right;
            font-size: 16px;
            color: $light-grey;
            margin-top: 0.45rem;
            margin-right: -2rem;
            padding-left: 10px;
        }
    }

}
