<div class="nlsg-c-toggle" 
    [ngClass]="{
        'margin-bottom-sm': marginBottomSm,
        'margin-bottom-md': marginBottomMd,
        'margin-bottom-lg': marginBottomLg,
        'margin-bottom-none': marginBottomNone
    }">
    
    <!-- <label [ngClass]="{'disabled': disabled}">{{ toggleLabel }}</label> -->

    <ui-form-label
        [labelText]="labelText" 
        [disabled]="disabled" 
        [notValid]="notValid" 
        [tooltipText]="tooltipText" [tooltipHeadingText]="tooltipHeadingText"
        [hasHeading]="hasHeading" [hideTooltip]="hideTooltip"
    ></ui-form-label>

    <label class="nlsg-c-toggle__toggle">
          <input attr.aria-label="{{ arialabel }}" type="checkbox" id="toggle-1" name="toggle" [disabled]="disabled" [checked]="checked" (click)="toggleChecked($event)">
          <span class="nlsg-c-toggle__toggle__slider round"></span>
    </label>
</div>

