@import "../nedbank-design.scss";

// Footer

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 50px;
    /* bottom = footer height */
    padding: 25px;
}

.nlsg-c-footer {
	display: flex;
	position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    overflow:hidden;
	justify-content: space-evenly;
	background: $white;
	color: $medium-grey;
	border-top: 1px solid $very-light-grey;
	padding: 10px 20px;
	@include component-default-margin-top;

		@media (max-width: $tablet-landscape) {
			padding: 10px 10px;
			height: 220px;
		}

	&__inner {
		display: flex;
		justify-content: space-between;
		width: 100%;
		flex-wrap: wrap;

		@media (max-width: $tablet-landscape) {
			flex-direction: row;
		}

		&__left-links {
			display: flex;
			align-items: center;
			justify-content: space-between;
            font-size: 12px;
            font-family: $text-regular;
            list-style-type: none;
			color: $medium-grey;
			order: 1;
			
			@media (max-width: $tablet-landscape) {
				order: 2;
				padding: 0px;
			}

		}

		&__right-links {
			display: flex;
			flex-direction: row;
			align-items: center;
            font-size: 12px;
			list-style-type: none;
			order: 2;

				@media (max-width: $tablet-landscape) {
					order: 1;
					flex-direction: column;
					width: 100%;
				}

			li {
				border-right: 1px solid $very-light-grey;
				margin-left: 10px;
				padding-right: 10px;

				@media (max-width: $tablet-landscape) {
					order: 1;
					width: 100%;
					font-size: 16px;
					text-align: left;
					border-right: none;
					margin-left: 0px;
				}

				&:last-child {
					border: 0;
					margin-right: 0;
					padding-right: 0;

					@media (max-width: $tablet-landscape) {
						margin-bottom: 15px;
					}

				}

				a {
					color: $medium-grey;
                    text-decoration: none;
                    font-family: $text-regular;

					&:hover {
						color: $dark-grey;
					}

					@media (max-width: $tablet-landscape) {
						padding: 8px 0;
						display: block;
					}
				}
			}
		}
	}
}