<div class="nlsg-c-footer">
    <div class="nlsg-c-footer__inner">
        <ul class="nlsg-c-footer__inner__left-links">
            <li>
                Nedbank Ltd Reg. No 1951/000009/06.<br />Authorised financial services and registered credit provider (NCRCP16).
            </li>
        </ul>
        <ul class="nlsg-c-footer__inner__right-links">
            <li *ngFor="let footerLink of footerLinks">
                <a href="{{ footerLink.linkUrl }}" target="_blank">{{ footerLink.linkText }}</a>
            </li>
        </ul>
    </div>
</div>