/* brand */

$heritage: #115740;
$primary: #006341;
$secondary: #009639;
$tertiary: #78be20;

.color-heritage-green {
    color: $heritage;
}
.bg-heritage-green {
    background-color: $heritage;
}
.color-nedbank-green {
    color: $primary;
}
.bg-nedbank-green {
    background-color: $primary;
}
.color-grass-green {
    color: $secondary;
}
.bg-grass-green {
    background-color: $secondary;
}
.color-apple-green {
    color: $tertiary;
}
.bg-apple-green {
    background-color: $tertiary;
}

/* darken on hover */

$primary-hover: #006341;

.color-primary-hover {
    color: $primary-hover;
}
.bg-primary-hover {
    background-color: $primary-hover;
}

/* brand lightened 80% 50% 20% */

$heritage-light-80: #427866;
$heritage-light-50: #89aba0;
$heritage-light-20: #d0ddd9;

.color-heritage-light-80 {
    color: $heritage-light-80;
}
.bg-heritage-light-80 {
    background-color: $heritage-light-80;
}
.color-heritage-light-50 {
    color: $heritage-light-50;
}
.bg-heritage-light-50 {
    background-color: $heritage-light-50;
}
.color-heritage-light-20 {
    color: $heritage-light-20;
}
.bg-heritage-light-20 {
    background-color: $heritage-light-20;
}

$primary-light-80: #388268;
$primary-light-50: #84b1a1;
$primary-light-20: #cee0d9;

.color-primary-light-80 {
    color: $primary-light-80;
}
.bg-primary-light-80 {
    background-color: $primary-light-80;
}
.color-primary-light-50 {
    color: $primary-light-50;
}
.bg-primary-light-50 {
    background-color: $primary-light-50;
}
.color-primary-light-20 {
    color: $primary-light-20;
}
.bg-primary-light-20 {
    background-color: $primary-light-20;
}

$secondary-light-80: #3eab62;
$secondary-light-50: #88cb9e;
$secondary-light-20: #cfead8;

.color-secondary-light-80 {
    color: $secondary-light-80;
}
.bg-secondary-light-80 {
    background-color: $secondary-light-80;
}
.color-secondary-light-50 {
    color: $secondary-light-50;
}
.bg-secondary-light-50 {
    background-color: $secondary-light-50;
}
.color-secondary-light-20 {
    color: $secondary-light-20;
}
.bg-secondary-light-20 {
    background-color: $secondary-light-20;
}

$tertiary-light-80: #94cb53;
$tertiary-light-50: #bcdf95;
$tertiary-light-20: #E4F2D2;

.color-tertiary-light-80 {
    color: $tertiary-light-80;
}
.bg-tertiary-light-80 {
    background-color: $tertiary-light-80;
}
.color-tertiary-light-50 {
    color: $tertiary-light-50;
}
.bg-tertiary-light-50 {
    background-color: $tertiary-light-50;
}
.color-tertiary-light-20 {
    color: $tertiary-light-20;
}
.bg-tertiary-light-20 {
    background-color: $tertiary-light-20;
}

/* accent */

$accent-teal: #00b2a9;
$accent-lime: #cedc00;

.color-accent-teal {
    color: $accent-teal;
}
.bg-accent-teal {
    background-color: $accent-teal;
}
.color-accent-lime {
    color: $accent-lime;
}
.bg-accent-lime {
    background-color: $accent-lime;
}

/* accent lightened  80% 50% 20% */

$accent-teal-light-80: #42c1ba;
$accent-teal-light-50: #8ad9d4;
$accent-teal-light-20: #d0f0ee;

.color-accent-teal-light-80 {
    color: $accent-teal-light-80;
}
.bg-accent-teal-light-80 {
    background-color: $accent-teal-light-80;
}
.color-accent-teal-light-50 {
    color: $accent-teal-light-50;
}
.bg-accent-teal-light-50 {
    background-color: $accent-teal-light-50;
}
.color-accent-teal-light-20 {
    color: $accent-teal-light-20;
}
.bg-accent-teal-light-20 {
    background-color: $accent-teal-light-20;
}

$accent-lime-light-80: #d8e34c;
$accent-lime-light-50: #e7ee92;
$accent-lime-light-20: #f5f9d3;

.color-accent-lime-light-80 {
    color: $accent-lime-light-80;
}
.bg-accent-lime-light-80 {
    background-color: $accent-lime-light-80;
}
.color-accent-lime-light-50 {
    color: $accent-lime-light-50;
}
.bg-accent-lime-light-50 {
    background-color: $accent-lime-light-50;
}
.color-accent-lime-light-20 {
    color: $accent-lime-light-20;
}
.bg-accent-lime-light-20 {
    background-color: $accent-lime-light-20;
}

/* warning/ error */

$deep-red: #aa2930;
$warning-red: #d22630;
$warning-orange: #f2a900;

.color-deep-red {
    color: $deep-red;
}
.bg-deep-red {
    background-color: $deep-red;
}
.color-warning-red {
    color: $warning-red;
}
.bg-warning-red {
    background-color: $warning-red;
}
.color-warning-orange {
    color: $warning-orange;
}
.bg-warning-orange {
    background-color: $warning-orange;
}

/* alert colours */

$warning-yellow: #fceecc;
$success-green: #e4f2d2;
$error-red: #f8d5d7;

.color-warning-yellow {
    color: $warning-yellow;
}
.bg-warning-yellow {
    background-color: $warning-yellow;
}
.color-success-green {
    color: $success-green;
}
.bg-success-green {
    background-color: $success-green;
}
.color-error-red {
    color: $error-red;
}
.bg-error-red {
    background-color: $error-red;
}

/* warning / error lightened 80% 50% 20% */

$deep-red-light-80: #bb545a;
$deep-red-light-50: #d59598;
$deep-red-light-20: #efd5d6;

.color-deep-red-light-80 {
    color: $deep-red-light-80;
}
.bg-deep-red-light-80 {
    background-color: $deep-red-light-80;
}
.color-deep-red-light-50 {
    color: $deep-red-light-50;
}
.bg-deep-red-light-50 {
    background-color: $deep-red-light-50;
}
.color-deep-red-light-20 {
    color: $deep-red-light-20;
}
.bg-deep-red-light-20 {
    background-color: $deep-red-light-20;
}

$warning-red-light-80: #db535a;
$warning-red-light-50: #ea9399;
$warning-red-light-20: #f7d4d7;

.color-warning-red-light-80 {
    color: $warning-red-light-80;
}
.bg-warning-red-light-80 {
    background-color: $warning-red-light-80;
}
.color-warning-red-light-50 {
    color: $warning-red-light-50;
}
.bg-warning-red-light-50 {
    background-color: $warning-red-light-50;
}
.color-warning-red-light-20 {
    color: $warning-red-light-20;
}
.bg-warning-red-light-20 {
    background-color: $warning-red-light-20;
}

$warning-orange-light-80: #f4ba48;
$warning-orange-light-50: #f9d590;
$warning-orange-light-20: #fceed3;

.color-warning-orange-light-80 {
    color: $warning-orange-light-80;
}
.bg-warning-orange-light-80 {
    background-color: $warning-orange-light-80;
}
.color-warning-orange-light-50 {
    color: $warning-orange-light-50;
}
.bg-warning-orange-light-50 {
    background-color: $warning-orange-light-50;
}
.color-warning-orange-light-20 {
    color: $warning-orange-light-20;
}
.bg-warning-orange-light-20 {
    background-color: $warning-orange-light-20;
}

/* greys */

$dark-grey: #333;
$medium-grey: #666;
$light-grey: #bbb;
$light-grey-disabled: #d7d7d7;
$very-light-grey: #eee;
$almost-white: #f7f7f7;
$almost-white-darker: #f6f6f6;

.color-dark-grey {
    color: $dark-grey;
}
.bg-dark-grey {
    background-color: $dark-grey;
}
.color-medium-grey {
    color: $medium-grey;
}
.bg-medium-grey {
    background-color: $medium-grey;
}
.color-light-grey {
    color: $light-grey;
}
.bg-light-grey {
    background-color: $light-grey;
}
.color-light-grey-disabled {
    color: $light-grey-disabled;
}
.bg-light-grey-disabled {
    background-color: $light-grey-disabled;
}
.color-very-light-grey {
    color: $very-light-grey;
}
.bg-very-light-grey {
    background-color: $very-light-grey;
}
.color-almost-white {
    color: $almost-white;
}
.bg-almost-white {
    background-color: $almost-white;
}
.color-almost-white-darker {
    color: $almost-white-darker;
}
.bg-almost-white-darker {
    background-color: $almost-white-darker;
}

/* solid */

$white: #fff;
$black: #3f3f3f;

.color-white {
    color: $white;
}
.bg-white {
    background-color: $white;
}
.color-black {
    color: $black;
}
.bg-black {
    background-color: $black;
}

/* tranparency */

$alpha: 0.1;
$black-a: darken($black, $alpha);

.color-alpha {
    color: $alpha;
}
.bg-alpha {
    background-color: $alpha;
}
.color-black-a {
    color: $black-a;
}
.bg-black-a {
    background-color: $black-a;
}

/* extra */

$highlight: #8bd2a3;
$nav-border-green: #009639;
$base-green: #006341;

.color-highlight {
    color: $highlight;
}
.bg-highlight {
    background-color: $highlight;
}
.color-nav-border-green {
    color: $nav-border-green;
}
.bg-nav-border-green {
    background-color: $nav-border-green;
}
.color-base-green {
    color: $base-green;
}
.bg-base-green {
    background-color: $base-green;
}

/* confetti */

$confetti-1: #b2e0c4;
$confetti-2: #99d5b0;
$confetti-3: #7fcb9c;
$confetti-4: #66c089;

.color-confetti-1 {
    color: $confetti-1;
}
.bg-confetti-1 {
    background-color: $confetti-1;
}
.color-confetti-2 {
    color: $confetti-2;
}
.bg-confetti-2 {
    background-color: $confetti-2;
}
.color-confetti-3 {
    color: $confetti-3;
}
.bg-confetti-3 {
    background-color: $confetti-3;
}
.color-confetti-4 {
    color: $confetti-4;
}
.bg-confetti-4 {
    background-color: $confetti-4;
}