
input::-ms-reveal,
input::-ms-clear {
    display: none;
}

_:-ms-fullscreen, :root {
    .nlsg-c-accordion {
        ul {
            margin-left: -30px !important;
        }
        .accordion-trigger {
            text-align: left;
        }
        .nlsg-c-accordion--content.open {
            max-height: 100%;
        }
    }
}

_:-ms-fullscreen, :root {
    .nlsg-c-tag {
        display: inline !important;
        .nlsg-icon-after-close {
            top: 4px !important;
        }
    }
}

_:-ms-fullscreen, :root {
    .nlsg-file-upload {
        a::before {
            display: none !important;
        }
        .uploaded-files {
            margin-left: -40px !important;
            li {
                width: 110% !important;
            }
        }
    }
}

_:-ms-fullscreen, :root {
    .nlsg-select {
        .options {
            top: 56px !important;
            li {
                margin-left: -40px !important;
            }
        }
    }
}

_:-ms-fullscreen, :root {
    .nlsg-search-select {
        .options {
            top: 54px !important;
            height: 240px !important;
            li {
                margin-left: -40px !important;
            }
        }
        .noResultsFound {
            top: 70px !important;
            height: 240px !important;
            display: inline-block !important;
            text-align: center;
        }
    }
}

_:-ms-fullscreen, :root {
    .nlsg-c-spinner-wrapper {
        display: block !important;
        max-width: 75px !important;
        width: 75px !important;
        max-height: 75px !important;
        min-height: 75px !important;
    }
    .hidden-ie {
        display: block !important;
    }
    .nlsg-c-spinner-wrapper__spinner {
        display: block !important;
        width: 100% !important;
        height: 100% !important;
        position: absolute;
        top: 0px;
        left: 0px;
        background: url('http://design.nedbank.co.za/assets/img/fallback-images/ie-green-fallback.gif') center center no-repeat;
        background-size: 100px 100px;
    }
}

_:-ms-fullscreen, :root {
    .rs-label {
        display: none !important;
    }
    input[type=range] {
        all: revert !important;
        padding: 0px;
        background: none !important;
        margin-top: 0px;
        height: 40px;
    }
    input[type=range]::-ms-track {
        width: 100%;
        height: 8.4px;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        border-width: 16px 0;
        color: transparent;
    }
    input[type=range]::-ms-fill-lower {
        background: #78be20;
    }
    input[type=range]:focus::-ms-fill-lower {
        background: #78be20;
    }
    input[type=range]::-ms-fill-upper {
        background: #bbb;
    }
    input[type=range]:focus::-ms-fill-upper {
        background: #bbb;
    }
    input[type=range]::-ms-thumb {
        box-shadow: none;
        border: 3px solid #78be20;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background: #ffffff;
        cursor: pointer;
        margin-top: 0px;
    }
    .box-minmax {
        margin-top: 0px !important;
    }
}

