<form #f="ngForm" [formGroup]="phoneForm">
    <div class="nlsg-tel-input" 
        [ngClass]="{
            'valid': isValid,
            'inValid': notValid,
            'disabled': disabled,
            'margin-bottom-sm': marginBottomSm,
            'margin-bottom-md': marginBottomMd,
            'margin-bottom-lg': marginBottomLg,
            'margin-bottom-none': marginBottomNone
        }">
        <ui-form-label
            *ngIf="hasLabel" 
            [labelText]="labelText" 
            [disabled]="disabled" 
            [notValid]="notValid" 
            [tooltipText]="tooltipText" [tooltipHeadingText]="tooltipHeadingText"
            [hasHeading]="hasHeading" [hideTooltip]="hideTooltip"
        ></ui-form-label>
        <ngx-intl-tel-input 
            class="ngx-intl-tel-input" 
            [preferredCountries]="preferredCountries"
            [enableAutoCountrySelect]="false" 
            [enablePlaceholder]="true" 
            [searchCountryFlag]="false"
            [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
            [selectFirstCountry]="false" 
            [selectedCountryISO]="CountryISO.SouthAfrica"
            [maxLength]="15" 
            [inputId]="inputID"
            [(ngModel)]="numberValue"
            [tooltipField]=""
            [phoneValidation]="true" 
            [separateDialCode]="separateDialCode"
            name="phone" 
            formControlName="phone"
            (focusout)="numberDetails()"
            >
        </ngx-intl-tel-input>
        <ui-form-helper-text *ngIf="hashelperText" [helperText]="helperText" [disabled]="disabled" [notValid]="notValid" ></ui-form-helper-text>
    </div>
</form>

<!-- (countryChange)="getCountry($event)"
(click)="combinedNumber($event)" -->